﻿@using TAS.WebPortal.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div id="whole-page">
    <!--module 8-->
    <div id="module8" class="ModuleWrapper">
        <div class="home-space pt-20">
            <div id="column1-8" class="column1 container ">               
                <div class="columns-widget row">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <!--module 9-->
                        <div id="module9" class="ModuleWrapper">
                            <div id="module13">
                                <div class="registerFormType1" style="">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "signin-form", id = "formLogin", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                       
                                        <div class="form-signin p-15">
                                            <div class="formContent">
                                                <div class="field-container mb-20">
                                                    @Html.LabelFor(m => m.Username, "Tên đăng nhập", new { @class = "si-container-title tk-intro" })
                                                    <div class="form-table">
                                                        @Html.TextBoxFor(m => m.Username, new { placeholder = "Nhập tên đăng nhập", @class = "input-text form-textbox valid" })
                                                        @Html.ValidationMessageFor(m => m.Username, "")
                                                    </div>
                                                </div>
                                                <div class="field-container mb-20">
                                                    @Html.LabelFor(m => m.Password, "Mật khẩu", new { @class = "si-container-title tk-intro" })
                                                    <div class="form-table">
                                                        @Html.PasswordFor(m => m.Password, new { placeholder = "Nhập mật khẩu", @class = "input-text form-textbox valid" })
                                                        @Html.ValidationMessageFor(m => m.Password, "")
                                                    </div>
                                                </div>
                                                <div class="field-container mb-20">
                                                    <div class="form-table">
                                                        @Html.ValidationSummary(true, "", new { @class = "error" })
                                                    </div>
                                                </div>
                                                <!--button-->
                                                <div class="text-center">
                                                    <div class="btn-row">
                                                        <input type="submit" value="Đăng nhập" class="btn btn-submit-otp" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!--end module 9-->
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}