﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hệ thống khai báo y tế điện tử - Quân khu 7</title>
    <link href="~/Content/sbadmin/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/sbadmin/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/sbadmin/css/site.css" rel="stylesheet" />
    <link href="~/Content/sbadmin/css/site.min.css" rel="stylesheet" />
    <link href="~/Content/sbadmin/css/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/styledev.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href='@Url.Action("Index","Home")'>
                <img src="~/Content/bvquany7a/img/logo.png" />
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href='@Url.Action("Index","Home",new { Areas="Branch"})'>
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Báo cáo tổng quan</span>
                </a>
            </li>


            <!-- Heading -->
            @*<div class="sidebar-heading">
                    Interface
                </div>*@

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Quản trị</span>
                </a>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href='@Url.Action("Index","Users",new { Areas="Branch"})'>Quản lý người dùng</a>
                        @*<a class="collapse-item" href="/Permission/">Quản lý quyền</a>
                            <a class="collapse-item" href="/GroupPermission/">Quản lý nhóm quyền</a>*@
                        @*<a class="collapse-item" href="/Role/">Quản lý vai trò</a>*@
                    </div>
                </div>
                <a class="nav-link" href="~/Survey/Create" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Khai báo y tế</span>
                </a>

                <a class="nav-link" href="/Account/LogOut" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Đăng xuất</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->

            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top ">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="bg-custom-toolbar top-nav-search">

                        <!-- Topbar Search -->
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100  ">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <button class="btn" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control border-0 small" placeholder="..." aria-label="Search" aria-describedby="basic-addon2">

                            </div>
                        </form>
                    </div>
                    <div class="bg-custom-toolbar">
                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto ">
                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto w-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <partial name="_LoginPartial" />


                            <div class="topbar-divider d-none d-sm-block"></div>



                        </ul>

                    </div>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    @RenderBody()
                </div>
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>IT.Dept 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="~/Content/sbadmin/js/font-awesome.min.js"></script>
    <script src="~/Content/sbadmin/js/site.min.js"></script>
    @*<script src="~/vendor/chart.js/Chart.js" asp-append-version="true"></script>*@
    <script src="~/Content/sbadmin/js/jquery.datetimepicker.full.min.js"></script>
    <script src="~/Content/sbadmin/js/canvasjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <script src="~/Content/sbadmin/js/utils.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
    <script type="text/javascript" language="javascript">
        function DisableBackButton() {
            window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function () { void (0) }
    </script>
</body>
</html>
