﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Hệ thống thông tin quản lý khai báo y tế">
    <meta name="author" content="Hệ thống thông tin quản lý Khai báo Y tế">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="description" content="">
    <meta name="keywords" content="tờ khai y tế, khai báo y tế, health declaration, khai y tế, bệnh viện 7A, 7AMH">
    <meta name="copyright" content="Hệ thống thông tin quản lý Khai báo Y tế - Quân khu 7">
    <title>Tờ khai y tế </title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:300,400,500,600" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/bvquany7a/css/khaibao.css" rel="stylesheet" />
    <link href="~/Content/bvquany7a/css/login.css" rel="stylesheet" />
    <link href="~/Content/bvquany7a/css/main.css" rel="stylesheet" />
    <link href="~/Content/bvquany7a/css/plugin.css" rel="stylesheet" />
    <link href="~/Content/styledev.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body style="padding: 0px; margin: 0px; background-color: rgb(234, 234, 234);">
    <div id="toppage" class="page-wrap">
        <div class="header-info">
            <div class="container">
                <div class="tb-col">
                    <div class="col">
                        <div class="logo"><a href='@Url.Action("Index","Home", new { Areas=""})'><img src="@Url.Content("~/Content/bvquany7a/img/logo.png")" alt="logo" height="72" width="72" /></a></div>
                    </div>
                    @*<div class="col">
                            <address class="fa fa-map-marker">466 Nguyễn Trãi, P.8, Q.5, TPHCM</address>

                        </div>*@
                    <div class="col">
                        @{
                            Html.RenderPartial("_LoginPartial");
                        }
                    </div>
                </div>
            </div>

        </div>
        <div id="page-content">
            @RenderBody()
        </div>

    </div><!-- //page -->

    <footer class="footer-container">
        @*<div class="container info">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo"><a href="index.html"><img src="Content/bvquany7a/img/logo.png" alt="BV7A logo" /></a></div>
                        <p class="phone">Liên hệ<br /> <strong>028  3836 6789</strong></p>
                    </div>
                    <div class="col-sm-8">
                        <div class="row break-560">
                            <div class="col-xs-4 col">
                                <ul class="links">
                                    <li><a href="#">About our system</a></li>
                                    <li><a href="#">In the Community</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">IU Health Foundation</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-4 col">
                                <ul class="links">
                                    <li><a href="#">Patient & Family Support</a></li>
                                    <li><a href="#">Business Solutions</a></li>
                                    <li><a href="#">IU Health Plans</a></li>
                                    <li><a href="#">News Hub</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-4 col">
                                <ul class="links">
                                    <li><a href="#">For Researchers</a></li>
                                    <li><a href="#">For Providers</a></li>
                                    <li><a href="#">Professional Education</a></li>
                                    <li><a href="#">For Media </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />*@
        <div class="container copyright">
            &copy; 2021 IT Dept. All rights reserved
        </div>
    </footer><!-- //footer container -->

    <a href="#toppage" class="smoothscroll gotop">Go top</a>  
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    @*<script type="text/javascript" language="javascript">
        function DisableBackButton() {
            window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function () { void (0) }
    </script>*@
</body>
</html>
