﻿@using Microsoft.AspNet.Identity
@using TAS.WebPortal.Models

@if (Request.IsAuthenticated)
{
    var authenUser = (CustomPrincipal)HttpContext.Current.User;

    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {

        @Html.AntiForgeryToken()
        @*@Html.ActionLink("Xin chào, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "fa fa-user", title = "Manage" })*@
        @*@Html.ActionLink("Thoát!", "LogOut", "Account", routeValues: null, htmlAttributes: new { @class = "fa fa-user", title = "LogOut" })*@

        <div class="dropdown">
            @*<input type="button" data-toggle="dropdown" value="Xin chào,@User.Identity.GetUserName()" />*@
            <input type="button" data-toggle="dropdown" value="Xin chào,@authenUser.Fullname" />
            <ul class="dropdown-menu">

                @*<li>@Html.ActionLink("Thông tin", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "fa fa-user", id = "manger1" })</li>
        <li>@Html.ActionLink("Đổi mật khẩu", "ChangePassword", "Manage", routeValues:new  { type=0,require=false }, htmlAttributes: new { @class = "fa fa-cog", id = "loginLink" })</li>
        <li>@Html.ActionLink("Thoát", "LogOut", "Account", routeValues: null, htmlAttributes: new { @class = "fa fa-sign-out", id = "logOutLink" })</li>*@
                <li><a href="@Url.Action("Index", "Manage")"><i class="fa fa-user">Thông tin</i></a></li>
                <li><a href="@Url.Action("Create", "Survey")"><i class="fa fa-user">Khai báo y tế</i></a></li>
                @if (authenUser.GroupID == 1 || authenUser.GroupID == 2)
                {
                    @*<li><a href="@Url.Action("Index", "Home",new { Areas="Branch"})"><i class="fa fa-user">QUẢN TRỊ HỆ THỐNG</i></a></li>*@
                    @*<li>@Html.RouteLink("QUẢN TRỊ HỆ THỐNG", new { action = "Index", controller = "Home", area = "Branch" })</li>*@
                    <li><a href="/Branch"><i class="fa fa-cog">Quản trị hệ thống</i> </a> </li>
                }
                <li><a href="@Url.Action("ChangePassword", "Manage",routeValues:new {type=0,require=false })"><i class="fa fa-cog">Đổi mật khẩu</i></a></li>

                <li><a href="@Url.Action("LogOut","Account",routeValues: null)"><i class="fa fa-sign-out">Đăng xuất</i></a></li>

                @*<li>@Html.ActionLink("Thoát", "LogOut", "Account", routeValues: null, htmlAttributes: new { @class = "fa fa-sign-out", id = "loginLink" })</li>*@

            </ul>

        </div>
    }

}
else
{
    @Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "fa fa-user", id = "loginLink" })
    @*<a href="#" class="fa fa-user">Đăng nhập</a>
        <div class="dropdown">
            <a href="#" data-toggle="dropdown">Tiếng Việt<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Tiếng Anh</a></li>
                <li><a href="#">Tiếng Việt</a></li>
            </ul>
        </div>*@
}

@*<a href="#" class="fa fa-user">Đăng nhập</a>
    <div class="dropdown">
        <a href="#" data-toggle="dropdown">Tiếng Việt<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Tiếng Anh</a></li>
            <li><a href="#">Tiếng Việt</a></li>
        </ul>
    </div>*@

