﻿@using TAS.WebPortal.Models

<header class="header-container">
	<div id="menu" class="container menu-wrap">
		<ul class="menu">
			<li class="active"><a href='@Url.Action("Index","Home")'>Trang chủ</a></li>
			<li><a href='@Url.Action("About","Home")'>Giới thiệu</a></li>
			@if (Request.IsAuthenticated)
			{
				var authenUser = (CustomPrincipal)HttpContext.Current.User;
				if(authenUser.GroupID == 1 )//|| authenUser.GroupID == 2)
				{
					<li>
						<a href='@Url.Action("Index","Dashboard")'>Khoa phòng</a>
						<ul>
							<li><a href='@Url.Action("Index","Dashboard")'>Dashboard</a></li>
							<li><a href='@Url.Action("GetEmployees","Department")'>Danh sách nhân viên</a></li>
							@*<li><a href='@Url.Action("Index","Department")'>Báo cáo hằng ngày</a></li>*@
						</ul>
					</li>
				}	

			}
			<li><a href='@Url.Action("Index","Home")'>Kiến thức y khoa</a></li>
			<li><a href='@Url.Action("Index","Home")'>Tin tức</a></li>
			<li><a href='@Url.Action("Contact","Home")'>Liên hệ</a></li>
		</ul>
	</div>
</header>