﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="banner">
    @{
        Html.RenderPartial("_Navigation");
    }
</div>
<div class="container">
    <div class="main">
        <div class="container">
            <h1 class="text-danger">Error.</h1>
            <h2 class="text-danger">An error occurred while processing your request.</h2>
        </div>
    </div>
</div>


