﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>

    table, th, td {
        border: 1px solid gray;
        border-collapse: collapse;
        white-space: nowrap;
    }

    th {
        padding: 4px;
        text-align: center;
        background-color: #228154;
        color: white;
    }

    td {
        padding: 4px;
    }
</style>

@using (Html.BeginForm("Index", "Users", FormMethod.Post, new { id = "form", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="main">

            <div class="form-resign2">

                <!--thong tin hanh chính-->
                <div class="row">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        @*<div><h1>@ViewBag.BranchName</h1></div>*@
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("AddUser","Users")" class="btn btn-sm btn-info" style="color:#ffffff">Thêm mới </a></li>

                        </ol>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group inline-block form-inline label-width ">
                            <h4 style="color:#228154; text-align:left">QUẢN LÝ NGƯỜI DÙNG THUỘC @ViewBag.BranchName</h4>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin: 10px">
                    <!--Tìm kiếm thông tin-->
                    <label class="col-md-1">Đơn vị:</label>
                    <select class="form-control col-md-3" id="cboMakp">
                        @Html.Raw(ViewBag.Makp)
                    </select>

                    <label class="col-md-1">Từ khóa:</label>
                    <input class="form-control col-md-3" type="text" id="key" placeholder="tên nhân viên" style="margin-right:5px"/>

                    <a id="btnSearch" class="form-control col-md-2 btn btn-info" >Tìm kiếm</a>
                </div>

                <div class="row ">
                    <div class="table-responsive">
                        <table id="DataTable" class="table align-items-center table-flush">
                            <thead>
                                @*class="thead-light"*@
                                <tr>
                                    <th style="color:#ffffff">Số điện thoại</th>
                                    <th style="color:#ffffff">Họ tên</th>
                                    <th style="color:#ffffff">Năm sinh</th>
                                    <th style="color:#ffffff">Số nhà</th>
                                    <th style="color:#ffffff">Khoa ban</th>
                                    <th style="color:#ffffff">Kích hoạt</th>
                                    <th style="color:#ffffff"></th>
                                    <th style="color:#ffffff"><button type="submit" class="btn btn-sm btn-danger" name="btnxoa" id="btnxoa" onclick="ConfirmReset()">Xóa</button></th>
                                </tr>
                            </thead>
                            <tbody id="dtTable">
                                @{int i = 1;}
                                @foreach (var item in ViewBag.Model)
                                {
                                    <tr>
                                        <td>@item.Dienthoai</td>
                                        <td style="text-transform: uppercase">@item.Hoten</td>
                                        <td style="text-align:center">@item.Namsinh</td>
                                        <td>@item.Sonha</td>
                                        <td>@item.Tenkp</td>
                                        <td style="text-align:center">
                                            @if (item.Isactive == 1)
                                            {
                                                <input type="checkbox" id="isactive" name="isactive" checked value="@item.Isactive" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="isactive" name="isactive" value="@item.Isactive" />
                                            }
                                        </td>

                                        <td align="center">
                                            <a class="btn btn-sm btn-info btn-update">Sửa</a>
                                            <a class="btn btn-sm btn-info btn-confirm" style="color:yellow" onclick="ConfirmReset()"> Reset mật khẩu</a>
                                        </td>
                                        <td align="center">
                                            <input name="ChkAr" id="ChkAr" value="" type="checkbox" class="custom-control custom-checkbox" />
                                        </td>
                                    </tr>
                                    i++;
                                }

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
}

<div class="modal fade" id="modalNoti" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog" role="document" style="">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <span id="txtNoti">Xác nhận cấp lại mật khẩu?</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="login-btn">
                    <button class="btn btn-default" data-dismiss="modal"><i class="fa ui-icon-info"></i> <span style="margin-left:3%">OK</span></button>

                    <button class="btn btn-default" data-dismiss="modal" aria-label="Close" id="btnCloseArlet"><i class="fa icon-close"></i> <span style="margin-left:3%">Đóng</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
            $("#DataTable").on('click', '.btn-confirm', function () {
                var x = confirm("Xác nhận cấp lại mật khẩu?");
                if (x) {
                    var currentRow = $(this).closest("tr");
                    var col2 = currentRow.find("td:eq(0)").text();
                    var data = col2;
                    alert(data)
                    var statesProgress = $("#states-loading-progress");
                        statesProgress.show();
                        $.ajax({
                            cache: false,
                            type: "POST",
                            //url: '@Url.Action("ResetPass")',
                            url: "Users/ResetPass/"+ data,
                            data: { "id": data},
                            success: function (data) {
                                if (data != null) {
                                    var vdata = data;
                                }
                                statesProgress.hide();
                            }
                        });
                    return true;
                }
                else
                    return false;
            });
        });

    $(document).ready(function () {
        $("#DataTable").on('click', '.btn-update', function () {
            debugger;
            var currentRow = $(this).closest("tr");
            var col2 = currentRow.find("td:eq(0)").text();
            var data = col2;

            window.open("Users/UpdateUser/" + data);

            });
        });

    document.getElementById("btnSearch").onclick = function () { FindUser() };

    function FindUser() {
        debugger;
        var params = {
            makp: $('#cboMakp').val(),
            key: $('#key').val(),
        };

        $.ajax({
            url: '/Branch/Users/FindUser',
            type: 'POST',
            data: params,
            dataType: "json",
            success: function (data) {
                if (!data.iserror) {
                    $('#dtTable').html(data.content);
                }
                else {
                    alert('Đã có lỗi xảy ra, vui lòng thử lại sau!');
                }
            },
        });
    }

</script>
