﻿<div class="modal fade" id="modalSuccess" data-backdrop="static">
    <div class="modal-dialog" role="document" style="">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <span > Thêm mới người dùng thành công</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="login-btn">
                    <a class="btn btn-primary" id="btnCloseArlet" href="/Branch/Users/Index">Đóng</a>
                </div>
            </div>
        </div>
    </div>
</div>
