﻿<div class="modal fade" id="modalNoti" data-backdrop="static">
    <div class="modal-dialog" role="document" style="">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <span id="txtNoti">@ViewBag.strNoti </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="login-btn">
                    <button class="btn btn-default" data-dismiss="modal" aria-label="Close" id="btnCloseArlet">
                        <i class="fa icon-close"></i> <span style="margin-left:3%">Đóng</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
