﻿@model TAS.WebPortal.Models.Employee
@using TAS.Core.Entities.MasterData.Administrative
@using TAS.Core.Shared.nCoV
@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/styledev.css" rel="stylesheet" />

@using (Html.BeginForm("UpdateUser", "Users", FormMethod.Post, new { id = "form", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="main">

            <div class="form-resign2">

                <!--thong tin hanh chính-->
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group inline-block form-inline label-width ">
                            <h4 style="color:#228154; text-align:left">THÔNG TIN NGƯỜI DÙNG</h4>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="form-group">
                        <label class="col-md-2">1.Họ và tên (IN HOA)<em>(*)</em></label>
                        <input class="col-md-4" id="txtName" name="txtName" type="text" maxlength="50" placeholder="Họ và tên (IN HOA)" value="@Model.hoten.ToString()" />
                        <label class="col-md-2">2.Số CMND/CCCD </label>
                        <input class="col-md-4" id="txtCMND" name="txtCMND" type="text" maxlength="12" placeholder="Số CMND/CCCD" value="@Model.cmnd.ToString()" readonly />
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Năm sinh<em>(*)</em> </label>
                        <select id="cboNamsinh" name="cboNamsinh" class="col-md-2">
                            @*<option>Chọn</option>*@
                            @Html.Raw(ViewBag.NamSinh)
                        </select>

                        <label class="col-md-2">Giới tính<em>(*)</em> </label>
                        <select id="cboGioTinh" name="cboGioTinh" class="col-md-2">
                            @*<option>Chọn</option>*@
                            @Html.Raw(ViewBag.Phai)
                        </select>

                        <label class="col-md-2">Quốc tịch<em>(*)</em> </label>
                        <select id="cboQuocTich" name="cboQuocTich" class="col-md-2">
                            @*<option>Chọn</option>*@
                            @Html.Raw(ViewBag.Quoctich)
                        </select>

                    </div>

                    <div class="form-group">
                        <label class="col-md-2">Số điện thoại<em>(*)</em></label>
                        <input class="col-md-4" id="txtSdt" name="txtSdt" type="number" maxlength="10" placeholder="Số điện thoại" value="@Model.dienthoai.ToString()" readonly/>

                        <label class="col-md-2">Email: </label>
                        <input class="col-md-4" id="txtEmail" name="txtEmail" type="text" placeholder="Email" value="@Model.email.ToString()" readonly/>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2">Đơn vị <em>(*)</em></label>
                        <select id="cboKhoaPhong" name="cboKhoaPhong" class="col-md-2">
                            @*<option>Chọn</option>*@
                            @Html.Raw(ViewBag.KhoaPhong)
                        </select>

                        <label class="col-md-2">Nhóm người dùng<em>(*)</em> </label>
                        <select id="cboGroupID" name="cboGroupID" class="col-md-2">
                            <option value="3">Người dùng</option>
                            <option value="2">Quản lý đơn vị</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="col-md-12">Địa chỉ chỗ ở hiện nay:</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Tỉnh/TP<em>(*)</em> </label>
                        <select id="cboTinh" name="cboTinh" class="col-md-2" onchange="cboTinh_Change()">
                            @Html.Raw(ViewBag.Tinh)
                        </select>

                        <label class="col-md-2">Quận/Huyện<em>(*)</em> </label>
                        <select id="cboQuan" name="cboQuan" class="col-md-2" onchange="cboQuan_Change()">
                            <option>Chọn</option>
                            @Html.Raw(ViewBag.Quan)
                        </select>

                        <label class=" col-md-2">Phường/Xã<em>(*)</em> </label>
                        <select id="cboXa" name="cboXa" class="col-md-2">
                            <option>Chọn</option>
                            @Html.Raw(ViewBag.Xa)
                        </select>
                    </div>

                    <div class="form-group">
                        <label class=" col-md-12">Địa chỉ nơi ở tại Việt Nam (Số nhà, phố, tổ dân phố/thôn/đội, phường/xã, quận, huyện, tỉnh/thành phố)<em>(*)</em></label>
                    </div>
                    <div class="form-group">
                        <input id="txtDiaChi" name="txtDiaChi" class="col-md-12" type="text" placeholder="Chỗ ở hiện nay" maxlength="50" value="@Model.sonha.ToString()" />
                    </div>


                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group inline-block form-inline label-width ">
                                <center>
                                    <input type="submit" value="LƯU THÔNG TIN" />
                                    <input type="button" value="QUAY LẠI" onclick="location.href='@Url.Action("Index", "Users")'" />
                                </center>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <div class="modal fade" id="modalNoti" tabindex="-1" data-backdrop="static">
        <div class="modal-dialog" role="document" style="">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thông báo</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <span id="txtNoti">Cập nhật thông tin người dùng không thành công!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="login-btn">
                        <button class="btn btn-default" data-dismiss="modal" aria-label="Close" id="btnCloseArlet"><i class="fa icon-close"></i> <span style="margin-left:3%">Đóng</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalSuccess" tabindex="-1" data-backdrop="static">
        <div class="modal-dialog" role="document" style="">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thông báo</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <span id="txtSuccess"> Cập nhật thông tin người dùng thành công! </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="login-btn">
                        <a class="btn btn-primary" id="btnCloseArlet" href="/Branch/Users/Index">Đóng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/tokhai.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Areas/Branch/JS/user.js"></script>
