﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thông báo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(window).on('load', function () {
            $('#myModal').modal('show');
        });
    </script>
</head>
<body>
        <div class="container">
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="color:orange"><b><u>Thông báo :</u></b></h4>
                        </div>
                        <div class="modal-body">
                            <div id="popup1" class="overlay">
                                <div class="popup" style="color:dodgerblue">
                                   
                                    <div class="content">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col"  class="table-info" style=" text-align:center;color:tomato">#</th>
                                                    <th scope="col"  class="table-info" style=" text-align:center ;color:tomato">Nội dung</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{int i = 1;}
                                                @foreach (var item in ViewBag.Model)
                                                {
                                                    <tr>
                                                        <th scope="row" style=" text-align:center">@i</th>
                                                        <td>@item["noidung"]</td>

                                                    </tr>
                                                   
                                                    i++;
                                                }


                                            </tbody>
                                        </table>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </body>
</html>