
﻿@model IEnumerable<TAS.Core.Shared.nCoV.HR_Employees_Extend>

    <style>
        table tbody tr th {
            color: white;
        }
    </style>

<div class="container" style="overflow-x:auto; ">
    <table class="table" style="width: 100%">
        <thead>
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Họ và tên
                </th>
                <th>
                    Năm sinh
                </th>
                <th>
                    Giới tính
                </th>
                <th>Địa chỉ</th>
            </tr>
        </thead>

        <tbody id="tbdata">
            @if (Model != null)
            {
                int i_stt = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @i_stt.ToString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hoten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Namsinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gioitinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sonha)
                        </td>
                    </tr>
                    i_stt++;
                }
            }
            else
            {
                <tr>
                    <td colspan="5"> Không có dữ liệu</td>
                </tr>
            }
        </tbody>
        </table>

</div>
