﻿@model TAS.Core.Shared.nCoV.HR_Dept_Report
@using TAS.WebPortal.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated)
{
    var authenUser = (CustomPrincipal)HttpContext.Current.User;
    if (authenUser.GroupID == 1 || authenUser.GroupID == 2)
    {
    <div class="banner">
        @{
            Html.RenderPartial("_Navigation");
        }
    </div>
    }
}
<div class="container">
    <div class="main">
        <div class="container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <h3>BÁO CÁO @ViewData["TENKP"].ToString().ToUpper() NGÀY @DateTime.Now.ToString("dd/MM/yyyy")</h3>
                <div class="form-resign2">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="form-group">
                            <input id="txtMakp" name="txtMakp" value="@Model.Makp" hidden />

                            <label class="col-md-1">Tên khoa:<em>(*)</em> </label>
                            <input class="col-md-11" name="txtTenkp" id="txtTenkp" type="text" maxlength="12" placeholder="Tên khoa" value="@Model.Tenkp" readonly style="cursor:not-allowed" />
                            @Html.ValidationMessageFor(model => model.Tenkp, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-1">Ngày:<em>(*)</em> </label>
                            <input class="col-md-2" name="txtNgayBC" id="txtNgayBC" type="date" value="@Model.Ngaybc_yyyymmdd" />
                            @Html.ValidationMessageFor(model => model.Ngaybc, "", new { @class = "text-danger" })

                            @*<label class="col-md-1">STT:<em>(*)</em> </label>
                                <input class="col-md-2" id="txtStt" type="number" value="@Model.Stt" min="0" />
                                @Html.ValidationMessageFor(model => model.Stt, "", new { @class = "text-danger" })*@

                            <label class="col-md-1">Quân số:<em>(*)</em> </label>
                            <input class="col-md-2" name="txtQuanSo" id="txtQuanSo" type="number" value="@Model.Quanso" min="0" />
                            @Html.ValidationMessageFor(model => model.Quanso, "", new { @class = "text-danger" })

                            <label class="col-md-1">Hiện có:<em>(*)</em> </label>
                            <input class="col-md-2" name="txtHienCo" id="txtHienCo" type="number" value="@Model.Hienco" min="0" />
                            @Html.ValidationMessageFor(model => model.Hienco, "", new { @class = "text-danger" })

                            <label class="col-md-1">Học việc:<em>(*)</em> </label>
                            <input class="col-md-2" name="txtHocViec" id="txtHocViec" type="number" value="@Model.Hocviec" min="0" />
                            @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-1">Vắng:<em>(*)</em> </label>
                            <input class="col-md-2" name="txtVang" id="txtVang" type="number" value="@Model.Vang" min="0" />
                            @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })

                            <label class="col-md-1">Lý do:<em>(*)</em> </label>
                            <input class="col-md-4" name="txtLydoVang" id="txtLydoVang" type="text" maxlength="12" placeholder="Lý do vắng" value="@Model.Lydovang" />
                            @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })

                            <label class="col-md-2">Người báo cáo:<em>(*)</em> </label>
                            @*<input class="col-md-2" name="txtNguoiBaoCao" id="txtNguoiBaoCao" type="text" value="@Model.Nguoibc" readonly style="cursor:not-allowed" />*@
                            <input class="col-md-2" name="txtNguoiBaoCao" id="txtNguoiBaoCao" type="text" value="0344511846" readonly style="cursor:not-allowed" />
                            @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-1">Khai báo:<em>(*)</em> </label>
                            <input class="col-md-2" name="txtKhaibao" id="txtKhaibao" type="number" value="@Model.Khaibao" min="0" />
                            @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })

                            <label class="col-md-1">Bổ sung:<em>(*)</em> </label>
                            <input class="col-md-2" name="txtBoSung" id="txtBoSung" type="number" value="@Model.Bosung" min="0" />
                            @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })

                            <label class="col-md-1">Lý do:<em>(*)</em> </label>
                            <input class="col-md-5" name="txtLydoVang" id="txtLydoVang" type="text" maxlength="12" placeholder="Lý do khai báo bổ sung" value="@Model.Lydo" />
                            @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-12">Khác:<em>(*)</em> </label>
                            <input class="col-md-12" name="txtKhac" id="txtKhac" type="text" placeholder="Tình hình khác" value="@Model.Khac" />
                            @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-12">Đề xuất:<em>(*)</em> </label>
                            <input class="col-md-12" name="txtDeXuat" id="txtDeXuat" type="text" placeholder="Đề xuất" value="@Model.Dexuat" />
                            @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <center>
                            <input type="submit" value="GỬI PHIẾU" class="btn btn-default" />
                            <input type="button" value="QUAY LẠI" onclick="location.href='@Url.Action("Index", "Department")'" />
                        </center>
                    </div>
                </div>

                <!-- @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                 <div class="form-group">
                     @Html.LabelFor(model => model.Makp, htmlAttributes: new { @class = "control-label col-md-2" })
                     <div class="col-md-10">
                         @Html.EditorFor(model => model.Makp, new { htmlAttributes = new { @class = "form-control" } })
                         @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })
                     </div>
                 </div>
                -->
            }

        </div>
    </div>

</div>


