﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="banner">
    @{
        Html.RenderPartial("_Navigation");
    }    
</div>
<div class="container">
    <div class="main">
        <h2>TỔNG HỢP THÔNG TIN</h2>
    </div>
    
</div>
