﻿@model TAS.Core.Shared.nCoV.HR_Dept_Report

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HR_Dept_Report</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Makp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Makp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tenkp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenkp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaybc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaybc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quanso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quanso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hienco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hienco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lydovang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lydovang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hocviec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hocviec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khaibao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khaibao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bosung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bosung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lydo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lydo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dexuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dexuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nguoibc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nguoibc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trangthai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nguoigui)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nguoigui)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaygui)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaygui)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
