﻿@model TAS.Core.Shared.nCoV.HR_Dept_Report

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="main">
        <div class="container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-resign2">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="row">
                    <div class="form-group">
                        <label class="col-md-1">Mã khoa:<em>(*)</em> </label>
                        <input class="col-md-2" id="txtMakp" type="text" value="@Model.Makp" readonly style="cursor:not-allowed" />
                        @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })

                        <label class="col-md-1">Tên khoa:<em>(*)</em> </label>
                        <input class="col-md-8" id="txtTenkp" type="text" maxlength="12" placeholder="Tên khoa" value="@Model.Tenkp" />
                        @Html.ValidationMessageFor(model => model.Tenkp, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-md-1">Ngày:<em>(*)</em> </label>
                        <input class="col-md-2" id="txtNgayBC" type="date" value="@Model.Ngaybc_yyyymmdd" />
                        @Html.ValidationMessageFor(model => model.Ngaybc, "", new { @class = "text-danger" })

                        @*<label class="col-md-1">STT:<em>(*)</em> </label>
                <input class="col-md-2" id="txtStt" type="number" value="@Model.Stt" min="0" />
                @Html.ValidationMessageFor(model => model.Stt, "", new { @class = "text-danger" })*@

                        <label class="col-md-1">Quân số:<em>(*)</em> </label>
                        <input class="col-md-2" id="txtQuanSo" type="number" value="@Model.Quanso" min="0" />
                        @Html.ValidationMessageFor(model => model.Quanso, "", new { @class = "text-danger" })

                        <label class="col-md-1">Hiện có:<em>(*)</em> </label>
                        <input class="col-md-2" id="txtHienCo" type="number" value="@Model.Hienco" min="0" />
                        @Html.ValidationMessageFor(model => model.Hienco, "", new { @class = "text-danger" })

                        <label class="col-md-1">Học việc:<em>(*)</em> </label>
                        <input class="col-md-2" id="txtHocViec" type="number" value="@Model.Hocviec" min="0" />
                        @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-md-1">Vắng:<em>(*)</em> </label>
                        <input class="col-md-2" id="txtVang" type="number" value="@Model.Vang" min="0" />
                        @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })

                        <label class="col-md-1">Lý do:<em>(*)</em> </label>
                        <input class="col-md-4" id="txtLydoVang" type="text" maxlength="12" placeholder="Lý do vắng" value="@Model.Lydovang" />
                        @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })

                        <label class="col-md-2">Người báo cáo:<em>(*)</em> </label>
                        <input class="col-md-2" id="txtNguoiBaoCao" type="text" value="@Model.Ngaybc" readonly style="cursor:not-allowed" />
                        @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-md-1">Khai báo:<em>(*)</em> </label>
                        <input class="col-md-2" id="txtKhaibao" type="number" value="@Model.Khaibao" min="0" />
                        @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })

                        <label class="col-md-1">Bổ sung:<em>(*)</em> </label>
                        <input class="col-md-2" id="txtBoSung" type="number" value="@Model.Bosung" min="0" />
                        @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })

                        <label class="col-md-1">Lý do:<em>(*)</em> </label>
                        <input class="col-md-5" id="txtLydoVang" type="text" maxlength="12" placeholder="Lý do khai báo bổ sung" value="@Model.Lydo" />
                        @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-md-12">Khác:<em>(*)</em> </label>
                        <input class="col-md-12" id="txtKhac" type="text" placeholder="Tình hình khác" value="@Model.Khac" />
                        @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-md-12">Đề xuất:<em>(*)</em> </label>
                        <input class="col-md-12" id="txtDeXuat" type="text" placeholder="Đề xuất" value="@Model.Dexuat" />
                        @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <center>
                        @Html.ActionLink("Back to List", "Index")

                        <input type="submit" value="Cập nhật phiếu" class="btn btn-default" />
                    </center>
                </div>
            </div>

                <!-- @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                 <div class="form-group">
                     @Html.LabelFor(model => model.Makp, htmlAttributes: new { @class = "control-label col-md-2" })
                     <div class="col-md-10">
                         @Html.EditorFor(model => model.Makp, new { htmlAttributes = new { @class = "form-control" } })
                         @Html.ValidationMessageFor(model => model.Makp, "", new { @class = "text-danger" })
                     </div>
                 </div>
                -->
            }

            @*<div>
                @Html.ActionLink("Back to List", "Index")
            </div>*@
        </div>
    </div>

</div>