﻿@using TAS.Core.Shared.nCoV
@model IEnumerable<HR_Employees_Extend>
@{
    ViewBag.Title = "GetEmployees";
    //Layout = "~/Views/Shared/_Layout.cshtml
     Layout = "~/Views/Shared/_InternalLayout.cshtml";
}
<style>
    table tbody tr th {
        color: white;
    }
</style>

<div class="container">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="form-group">
                    <h4 class="col-md-2" style="min-width:25%;">DANH SÁCH NHÂN VIÊN</h4>
                    <select id="cboMakp" class="col-md-2" style="min-width:25%" onchange="cboMakp_Change()">
                        <option>Chọn</option>
                        @Html.Raw(ViewBag.Makp)
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                </div>
            </div>
        </div>
        <div class="container" id="Emplist">
            @{
                Html.RenderPartial("_EmployeeListPartial", Model);
            }
        </div>

    </div>
</div>

<script>
        function cboMakp_Change() {
        var idMakp = $('#cboMakp').val();
        var obj = "<option value='-2'>Chọn</option>";
        if (idMakp == '-2') {
           alert('Chọn khoa phòng cần xem!');
            return;
        }
        var empDiv = $("#Emplist");
        $.ajax({
            type: 'POST',
            url: '/Department/genEmployees',
            data: {
                makp: idMakp,
            }

        }).done(function (data) {
            $('#tbdata').html(data);

            @*if (data != null) {
                $("#Emplist").load('@(Url.Action("GetEmployeesByDept","Department",null, Request.Url.Scheme))?makp=' + iMakp);

            }
            else {

               alert('Không tìm thấy thông tin!');
            }*@
        });
    }
</script>
@*<script type="text/javascript">

        $(document).ready(function () {
            $("#cboMakp").change(function () {
                var iMakp =  $("#cboMakp").val();
                   $("#Emplist").load('@(Url.Action("GetEmployeesByDept","Department",null, Request.Url.Scheme))?makp=' + iMakp);
            });
        });
    </script>*@