﻿@model IEnumerable<TAS.Core.Shared.nCoV.HR_Dept_Report>
@using TAS.WebPortal.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated)
{
    var authenUser = (CustomPrincipal)HttpContext.Current.User;
    if (authenUser.GroupID == 1 || authenUser.GroupID == 2)
    {
        <div class="banner">
            @{
                Html.RenderPartial("_Navigation");
            }
        </div>
    }
}
<style>
    table tbody tr th {
        color: white;
    }

    table, th, td {
        border: 1px solid gray;
        border-collapse: collapse;
        white-space: nowrap;
    }
</style>
<br/>
<div class="container">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <div class="form-group inline-block form-inline label-width ">
                        <h4>DANH SÁCH CÁC PHIẾU ĐÃ THỰC HIỆN</h4>
                    </div>

                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="form-group inline-block form-inline label-width " style="text-align:right; padding-right:30px">
                        <b style="color:orangered; "> @Html.ActionLink("GỬI BÁO CÁO MỚI", "Create")</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="overflow-x:auto; ">
            <table class="table" style="width: 100%">
                <tr>
                    <th>
                        Mã khoa phòng
                    </th>
                    <th>
                        Tên khoa phòng
                    </th>
                    <th>
                        Ngày báo cáo
                    </th>
                    <th>
                        Số thứ tự
                    </th>
                    <th>
                        Quân số
                    </th>
                    <th>
                        Hiện có
                    </th>
                    <th>
                        Vắng
                    </th>
                    <th>
                        Học việc
                    </th>
                    <th>
                        Khai báo
                    </th>
                    <th>
                        Bổ sung
                    </th>
                    <th>
                        Lý do
                    </th>
                    <th>
                        Khác
                    </th>
                    <th>
                        Đề xuất
                    </th>
                    <th>
                        Người báo cáo
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>Xử lý</th>
                </tr>

                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Makp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tenkp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ngaybc_yyyymmdd )
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quanso)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hienco)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Vang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hocviec)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Khaibao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Bosung)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lydo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Khac)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dexuat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nguoibc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Trangthai)
                            </td>
                            <td>
                                <a href="/Department/Details/@item.Id"><i class="fa fa-book" title="Chi tiết"></i></a> |
                                @if (item.Trangthai == 0)
                                {
                                    <a href="/Department/Edit/@item.Id"><i class="fa fa-edit" title="Chỉnh sửa"></i></a>
                                    <a href="/Department/Delete/@item.Id"> <i class="fa fa-remove" title="Xóa"></i></a>
                                }

                                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
        <br />
    </div>
</div>



