﻿/*.page-booking .form-control{
    color:#000000!important

}*/
.box-find-doctor .form-control {
    color: #000000 !important;
    border-radius: 0 !important
}

.timeslots-container {
    display: inline-block;
}
