﻿body {
    font-family: "Oswald", Arial, sans-serif;
    font-size: 14px;
    color: #494949;
    line-height: 1.6;
}

@media only screen and (max-width: 600px) {

    .form-horizontal {
        max-width: 100%;
        height: auto;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
    }

    .form-group input[type="text"],
    .form-group input[type="date"],
    .form-group input[type="datetime"],
    .form-group input[type="email"],
    .form-group input[type="number"],
    .form-group input[type="search"],
    .form-group input[type="time"],
    .form-group input[type="url"],
    .form-group input[type="password"],
    .form-group textarea,
    .form-group select {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 8px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
    }
}

@media only screen and (min-width: 600px) {

    .form-horizontal {
        max-width: 100%;
        height: auto;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
    }

    .form-group input[type="text"],
    .form-group input[type="date"],
    .form-group input[type="datetime"],
    .form-group input[type="email"],
    .form-group input[type="number"],
    .form-group input[type="search"],
    .form-group input[type="time"],
    .form-group input[type="url"],
    .form-group input[type="password"],
    .form-group textarea,
    .form-group select {
        display: block;
        box-sizing: border-box;
        padding: 8px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
    }
}

@media only screen and (min-width: 1500px) {

    .form-horizontal {
        max-width: 100%;
        height: auto;
        padding-left: 300px;
        padding-right: 300px;
        padding-bottom: 50px;
    }
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #1664A7;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

label em {
    color: red;
}

td em {
    color: red;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}

th {
    padding: 4px;
    text-align: center;
    background-color: #1664A7;
}

td {
    padding: 4px;
}

h4 {
    font-weight: bold;
}

.validation-summary-errors, .field-validation-error {
    color: red;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/*.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

        .dropdown-content a:hover {
            background-color: cadetblue
        }

.dropdown:hover .dropdown-content {
    display: block;
}*/

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}

    .dropdown-menu li a {
        color: black;
        /*padding: 12px 16px;*/
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-menu li a:hover {
            background-color: lightseagreen;
        }

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

a {
    color: #319243;
}

    a:hover {
        color: #268e39;
    }

.hidden {
    display: none;
}

.bg-gradient-primary {
    background: #1664A7;
}

.navbar-nav .sidebar-brand {
    min-height: 130px;
}

.nav-link img {
    max-height: 2rem;
    width: auto;
}

.top-nav-search {
    margin: 10px;
    width: 100%;
}


.topbar .nav-item .nav-link {
    height: 100%;
}

.btn-primary {
    background-color: #319243;
    border-color: #95e8a5;
}

    .btn-primary:hover {
        background-color: #287b37;
        border: 1px solid #319243;
    }

.card {
    min-height: 100%;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #e3e6f0;
    COLOR: #319243;
    font-weight: bold;
}


.bg-custom-toolbar {
    background: #fff;
    padding: 0.4rem 1rem;
    border-radius: .35rem;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.card {
    border: none;
}

.card-box {
    padding: 20px;
    border-radius: 3px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #d0d0d03d;
    min-height: 100%;
}

.badge-custom-up {
    color: #fff;
    background-color: #319243;
}

.c-green {
    color: #319243;
}

.f-bold {
    font-weight: bold;
}

.label-input {
    float: right;
    padding: 0.3rem;
}

.input-icon-custom {
    background: #319243;
    padding: 5px 10px;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*HIDDENT canvas LISCENCE*/
.canvasjs-chart-credit {
    display: none;
}


.car-item .card-box:hover {
    color: #fff !important;
    background: #319243;
    cursor: pointer;
}

    .car-item .card-box:hover .c-green {
        color: #fff !important;
    }

.btn-success {
    color: #fff;
    background-color: #319243;
    border-color: #1cc88a;
}

#wrapper #content-wrapper {
    background-color: #f1f6f2;
}

.detail-link {
    position: absolute;
    bottom: 0.2rem;
    right: 2rem;
    font-weight: 500;
    color: #319243
}

.car-item .card-box:hover .detail-link {
    color: #fff !important;
}

/*
CARD */
@@media (min-width: 768px) {
    .circle-tile {
        margin-bottom: 30px;
    }
}

.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}

.circle-tile-heading {
    position: relative;
    width: 60px;
    height: 60px;
    margin: -2px auto -40px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 100%;
    color: #fff;
    transition: all ease-in-out .3s;
    padding: .5rem 0;
}

/* -- Background Helper Classes */

/* Use these to cuztomize the background color of a div. These are used along with tiles, or any other div you want to customize. */

.dark-blue {
    background-color: #34495e;
}

.dark-green {
    background-color: #319243;
}

.green {
    background-color: #16a085;
}

.white {
    background: #fff;
}

.blue {
    background-color: #2980b9;
}

.orange {
    background-color: #f39c12;
}

.red {
    background-color: #e74c3c;
}

.purple {
    background-color: #8e44ad;
}

.dark-gray {
    background-color: #7f8c8d;
}

.gray {
    background-color: #95a5a6;
}

.light-gray {
    background-color: #bdc3c7;
}

.yellow {
    background-color: #f1c40f;
}

/* -- Text Color Helper Classes */

.text-dark-blue {
    color: #34495e;
}

.text-dark-green {
    color: #319243;
}

.text-green {
    color: #16a085;
}

.text-blue {
    color: #2980b9;
}

.text-orange {
    color: #f39c12;
}

.text-red {
    color: #e74c3c;
}

.text-purple {
    color: #8e44ad;
}

.text-faded {
    color: rgba(255,255,255,0.7);
}

.text-gray {
    color: #898989;
}


.circle-tile-heading .fa {
    line-height: 80px;
}

.circle-tile-content {
    padding-top: 50px;
    border-radius: 1rem;
}

.circle-tile-description {
    text-transform: uppercase;
}

.text-faded {
    color: rgba(255,255,255,0.7);
}

.circle-tile-number {
    padding: 5px 0 15px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.circle-tile-footer {
    display: block;
    padding: 5px;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.1);
    transition: all ease-in-out .3s;
}

    .circle-tile-footer:hover {
        text-decoration: none;
        color: rgba(255,255,255,0.5);
        background-color: rgba(0,0,0,0.2);
    }


.morning {
    background: url(https://lh3.googleusercontent.com/-1YbV7nsVnX8/WMugaq-6BEI/AAAAAAAADSg/0wPfQ84vMUcCle_SkgiUDOumUKscMaA8QCL0B/w530-d-h353-p-rw/widget-bg-morning.jpg) center bottom no-repeat;
    background-size: cover;
}

.time-widget {
    margin-top: 5px;
    overflow: hidden;
    text-align: center;
    font-size: 1.75em;
}

.time-widget-heading {
    text-transform: uppercase;
    font-size: .5em;
    font-weight: 400;
    color: #fff;
}

#datetime {
    color: #fff;
}

.tile-img {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
}

.tile {
    margin-bottom: 15px;
    padding: 15px;
    overflow: hidden;
    color: #fff;
}

.border-bottom-1 {
    border-bottom: 1px solid #eae6e6;
}

.bottom-home-card {
    padding: .8rem 1rem;
}

.ml04 {
    margin-left: .4rem;
}

.compare-yesterday-percent {
    cursor: pointer;
}
/*END CARD*/
