﻿@model TAS.Core.Shared.nCoV.HR_Employees

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HR_Employees</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Namsinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Namsinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sonha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sonha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cholam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cholam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maqu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maqu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mapxa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mapxa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hotenkdau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotenkdau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dienthoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dienthoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaycap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaycap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noicap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noicap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Makp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Makp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quoctich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quoctich)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
