﻿@model IEnumerable<TAS.Core.Shared.nCoV.HR_Employees>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Namsinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sonha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cholam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maqu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mapxa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotenkdau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dienthoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaycap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Noicap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Makp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quoctich)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hoten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Namsinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sonha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cholam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maqu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mapxa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hotenkdau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dienthoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaycap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Noicap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Makp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quoctich)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
