﻿@{
    ViewBag.Title = "gioi-thieu";
}
    <div class="banner">
        @{
            Html.RenderPartial("_Navigation");
        }
    </div>
    <div class="container">
        <div class="main">
            <div class="container">
                <h2>HỆ THỐNG HỖ TRỢ KHAI BÁO THÔNG TIN Y TẾ</h2>
                <p>
                    Ứng dụng hỗ trợ thực hiện khai báo thông tin sức khỏe hàng ngày từng cá nhân, khoa ban.
                </p>
            </div>
        </div>
    </div>
        