﻿
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <div class="main">
            <div class="container">
                <h2>ViewBag.Message</h2>
                
            </div>
        </div>
    </div>
<h2>AccessDenied</h2>

