﻿@{
    ViewBag.Title = "Trang chủ";
}
<div class="banner">
    @{
        Html.RenderPartial("_Navigation");
    }
    <div id="slider" class="bn-slide">
        <div class="item">
            <img src="~/Content/bvquany7a/img/slider-bg.png" alt="" />
            <div class="container">
                <div class="tb-col">
                    <div class="col">
                        <h2>Khai báo <strong>Thông tin y tế hàng ngày</strong></h2>
                        <a href="@Url.Action("Create", "Person")" class="btn-2">
                            <span class="fa fa-long-arrow-right">Thực hiện</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/tokhai.js")