﻿
@{
    ViewBag.Title = "ChangePasswordSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="main">
        <h2>Thay đổi mật khẩu thành công!</h2>
        <br/>
       
      <h4>Bấm vào  @Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "fa", id = "loginLink" }) để truy cập hệ thống</h4>
    </div>
    </div>
       

