﻿@model TAS.WebPortal.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group" style="width:auto">
        <div style="width:auto">
            @if (Model.IsRequireChange)
            {
                <h3><span class="col-md-2" style="width:100%;" >YÊU CẦU THAY ĐỔI MẬT KHẨU TRƯỚC KHI TRUY CẬP</span></h3>
                }
                else
                {
                <h3><span class="col-md-2" style="width:100%;">THAY ĐỔI MẬT KHẨU</span></h3>
            }
        </div>

    </div>


    <div class="form-group">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.ChangePasswordType, new { Value = ViewData["ChangePasswordType"].ToString() })
        @Html.HiddenFor(m => m.IsRequireChange, new { Value = ViewData["IsRequireChange"].ToString() })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "error" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cập nhật" class="btn btn-submit-otp" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
           <br/>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}