﻿@model TAS.Core.Shared.nCoV.SurveyModelForm
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="main">

        <div class="form-resign2">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group inline-block form-inline label-width ">
                        <h4 style="color:#228154; text-align:left">I.THÔNG TIN HÀNH CHÍNH</h4>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="form-group">
                    <label class="col-md-2">1.Họ và tên (IN HOA)<em>(*)</em></label>
                    <input class="col-md-4" id="txtName" type="text" maxlength="50" placeholder="Họ và tên (IN HOA)" value="@Model.Employee.Hoten" disabled/>

                    <label class="col-md-2">2.Số CMND/CCCD </label>
                    <input class="col-md-4" id="txtCMND" type="text" maxlength="12" placeholder="Số CMND/CCCD" onkeypress="return keypress(event)" value="@Model.Employee.CMND" disabled />

                </div>
                <div class="form-group">
                    <label class="col-md-2">Năm sinh<em>(*)</em> </label>
                    <select id="cboNamsinh" class="col-md-2" disabled>
                        <option>Chọn</option>
                        @Html.Raw(ViewBag.NamSinh)
                    </select>


                    <label class="col-md-2">Giới tính<em>(*)</em> </label>
                    <select id="cboGioTinh" class="col-md-2" disabled>
                        <option>Chọn</option>
                        @Html.Raw(ViewBag.Phai)
                    </select>
                    <label class="col-md-2">Quốc tịch<em>(*)</em> </label>
                    <select id="cboQuocTich" class="col-md-2" disabled>
                        <option>Chọn</option>
                        @Html.Raw(ViewBag.Quoctich)
                    </select>

                </div>

                <div class="form-group">
                    <label class="col-md-2">Số điện thoại<em>(*)</em></label>
                    <input class="col-md-4" id="txtSdt" type="text" maxlength="10" placeholder="Số điện thoại" value="@Model.Employee.Dienthoai" readonly style="cursor:not-allowed"/>



                    <label class="col-md-2">Email: </label>
                    <input class="col-md-4" id="txtEmail" type="text" placeholder="Email" value="@Model.Employee.Email" disabled/>

                </div>

                <div class="form-group">
                    <label class="col-md-2">Khoa ban <em>(*)</em></label>
                    <select id="cboKhoaPhong" class="col-md-2" disabled>
                        <option>Chọn</option>
                        @Html.Raw(ViewBag.KhoaPhong)
                    </select>

                </div>

                <div class="form-group">
                    <label class="col-md-12">Địa chỉ chỗ ở hiện nay:</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Tỉnh/TP<em>(*)</em> </label>
                    <select id="cboTinh" class="col-md-2" onchange="cboTinh_Change()" disabled>
                        @Html.Raw(ViewBag.Tinh)
                    </select>

                    <label class="col-md-2">Quận/Huyện<em>(*)</em> </label>
                    <select id="cboQuan" class="col-md-2" onchange="cboQuan_Change()" disabled>
                        <option>Chọn</option>
                        @Html.Raw(ViewBag.Quan)
                    </select>

                    <label class=" col-md-2">Phường/Xã<em>(*)</em> </label>
                    <select id="cboXa" class="col-md-2" disabled>
                        <option>Chọn</option>
                        @Html.Raw(ViewBag.Xa)
                    </select>
                </div>

                <div class="form-group">
                    <label class=" col-md-12">Địa chỉ nơi ở tại Việt Nam (Số nhà, phố, tổ dân phố/thôn/đội, phường/xã, quận, huyện, tỉnh/thành phố)<em>(*)</em></label>
                </div>
                <div class="form-group">
                    <input id="txtDiaChi" class="col-md-12" type="text" placeholder="Chỗ ở hiện nay" value="@Model.Employee.Sonha" disabled />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group inline-block form-inline label-width ">
                        <center>
                            <input id="btnUpdate"type="button" value="CẬP NHẬT" onclick="Update()" hidden />
                            <input id="btnEdit" type="button" value="Chỉnh sửa" onclick="Edit()" />
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalNoti" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog" role="document" style="">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <span id="txtNoti"> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="login-btn">
                    <button class="btn btn-default" data-dismiss="modal" aria-label="Close" id="btnCloseArlet"><i class="fa icon-close"></i> <span style="margin-left:3%">Đóng</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/tokhai.js"></script>