﻿@using Microsoft.AspNet.Identity
@using TAS.WebPortal.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    if (Request.IsAuthenticated)
    {
        var authenUser = (CustomPrincipal)HttpContext.Current.User;
        ViewBag.UserName = authenUser.Fullname;
    }
}


<style>

    table, th, td {
        border: 1px solid gray;
        border-collapse: collapse;
        white-space: nowrap;
    }

    th {
        padding: 4px;
        text-align: center;
        background-color: #228154;
        color: white;
    }

    td {
        padding: 4px;
    }
</style>

<div class="container-fluid">
    <!--Danh sách chi tiết khoa phòng-->
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <div class="form-group inline-block form-inline label-width ">
                <h4>CHI TIẾT ĐÃ BÁO CÁO CỦA ĐƠN VỊ</h4>
            </div>
        </div>
        <div class="col-md-3 col-xs-12">
            <a href="/Branch/Home/index" style="float: right">QUAY LẠI</a>

            @*@Html.ActionLink("Danh sách", "Index")*@
        </div>
    </div>

    <div class="row" style="overflow-x:auto; ">
        <table class="table" style="width: 100%">
            <thead>
                @Html.Raw(ViewBag.CauHoi)
            </thead>
            <tbody>
                @Html.Raw(ViewBag.genNoiDung)
            </tbody>
        </table>
    </div>
</div>

