﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>

    table {
        width: 1343px;
        border-collapse: collapse;
        margin: 50px auto;
    }

    th {
        background: #1664A7;
        color: white;
        font-weight: bold;
    }

   /* table, th, td {
        border: 1px solid gray;
        border-collapse: collapse;
        white-space: nowrap;
    }

    th {
        padding: 4px;
        text-align: center;
        background-color: #1664A7;
        color: white;
    }

    td {
        padding: 4px;
    }*/

    .labels tr td {
        background-color: white;
        font-weight: bold;
        color: black;
    }

    .label tr td label {
        display: block;
    }

    [data-toggle="toggle"] {
        display: none;
    }
</style>
<div class="container-fluid" style="margin-bottom:10px">

    <div class="row">

        @Html.Raw(ViewBag.BranchName)

        <label class="col-md-1">Ngày: </label>
        <input class="col-md-2 form-control" type="date" id="txtNgay" onchange="NgayChange()" value="@ViewBag.Date" max="@ViewBag.Date" />

        <label class="col-md-1">Đơn vị: </label>
        <select id="cboMakp" class="col-md-2 form-control" style="min-width:25%" onchange="cboMakp_Change()">
            @Html.Raw(ViewBag.Makp)
        </select>
    </div>
</div>
<div class="container-fluid">
    <div class="row mb-3 card-tongquan">
        <div id="card-dangkykham" class="car-item col-md-3 col-xs-6">
            <div class="circle-tile">
                <a href="#">
                    <div class="circle-tile-heading dark-green">
                        <i class="fa fa-address-book  fa-fw fa-2x" aria-hidden="true"></i>
                    </div>
                    <input type="text" id="type" value="@ViewBag.Type" hidden />
                </a>
                <div class="circle-tile-content white">
                    <div class="circle-tile-description text-dark-green">
                        QUÂN SỐ
                    </div>
                    <div class="circle-tile-number text-gray border-bottom-1 " style="color: blue">
                        <label class="countnumber" id="tongQuanSo">@Html.Raw(ViewBag.tongQuanSo)</label>

                    </div>
                    <div class="row">
                        <div class="col-md-12 bottom-home-card">

                            @*<a href="#" class="fa-pull-right">Chi tiết <i class="fa fa-angle-double-right"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end col -->
        <div id="card-dakhambenh" class="car-item col-md-3 col-xs-6">
            <div class="circle-tile">
                <a href="#">
                    <div class="circle-tile-heading dark-green">
                        <i class="fa fa-home fa-fw fa-2x"></i>
                    </div>
                </a>
                <div class="circle-tile-content white" style="background-color:Highlight">
                    <div class="circle-tile-description text-dark-green" style="color:white !important">
                        ĐÃ BÁO CÁO
                    </div>
                    <div class="circle-tile-number text-gray border-bottom-1 " style="color:white">
                        <label class="countnumber" id="tongBaoCao">@Html.Raw(ViewBag.tongBaoCao)</label>

                    </div>
                    <div class="row">
                        <div class="col-md-12 bottom-home-card">

                            @*<a href="#" class="fa-pull-right">Chi tiết <i class="fa fa-angle-double-right"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
        <div id="card-noitru" class="car-item col-md-3 col-xs-6">
            <div class="circle-tile">
                <a href="#">
                    <div class="circle-tile-heading dark-green">
                        <i class="fa fa-bed fa-fw fa-2x"></i>
                    </div>
                </a>
                <div class="circle-tile-content white" style="background-color:orange">
                    <div class="circle-tile-description text-dark-green" style="color:white !important">
                        CHƯA BÁO CÁO
                    </div>
                    <div class="circle-tile-number text-gray border-bottom-1 " style="color:white">
                        <label class="countnumber" id="tongChuaBaoCao">@Html.Raw(ViewBag.tongChuaBaoCao)</label>

                    </div>
                    <div class="row">
                        <div class="col-md-12 bottom-home-card">
                            @*<a href="#" class="fa-pull-right" style="color:white !important">Chi tiết <i class="fa fa-angle-double-right"></i></a>*@
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- end col -->
        <div id="card-ketthucdieutri" class="car-item col-md-3 col-xs-6">
            <div class="circle-tile">
                <a href="#">
                    <div class="circle-tile-heading dark-green">
                        <i class="fa fa-archive fa-fw fa-2x"></i>
                    </div>
                </a>
                <div class="circle-tile-content white" style="background-color:red;">
                    <div class="circle-tile-description text-dark-green" style="color: white !important">
                        BẤT THƯỜNG
                    </div>
                    <div class="circle-tile-number text-gray border-bottom-1" style="color: white">
                        <label class="countnumber" id="tongBatThuong">@Html.Raw(ViewBag.tongBatThuong)</label>

                    </div>
                    <div class="row">
                        <div class="col-md-12 bottom-home-card">
                            @*<a href="#" class="fa-pull-right" style="color: white !important">Chi tiết <i class="fa fa-angle-double-right"></i></a>*@
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    @*<div class="row">
            <label class="col-md-1">Ngày: </label>
            <input class="col-md-2 form-control" type="date" id="txtNgay" onchange="NgayChange()" value="@ViewBag.Date" max="@ViewBag.Date" />

            <label class="col-md-1">Đơn vị: </label>
            <select id="cboMakp" class="col-md-2 form-control" style="min-width:25%" onchange="cboMakp_Change()">
                @Html.Raw(ViewBag.Makp)
            </select>
        </div>*@

    <div class="row">
        <br />
    </div>

    <div class="row" style="overflow-x:scroll">
        <table class="table" style="width: 100%;">
            <thead>
                <tr>
                    <th>
                        <center>
                            STT
                        </center>
                    </th>
                    <th>
                        ĐƠN VỊ
                    </th>
                    <th>
                        <center>
                            QUÂN SỐ
                        </center>
                    </th>
                    <th>
                        <center>
                            ĐÃ BÁO CÁO
                        </center>
                    </th>
                    <th>
                        <center>
                            CHƯA BÁO CÁO
                        </center>
                    </th>
                    <th>
                        <center>
                            BẤT THƯỜNG
                        </center>
                    </th>
                    <th>
                        <center>
                            CHI TIẾT
                        </center>
                    </th>
                </tr>
            </thead>

            <div id="tbData"></div>

            @*<tbody id="tbData">


                @Html.Raw(ViewBag.List)
            </tbody>*@
        </table>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        debugger;
        $('[data-toggle="toggle"]').change(function () {
            $(this).parents().next('.hide').toggle();
        });
    });
</script>
<script src="~/Scripts/baocao.js"></script>
