﻿
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    table {
        width: 750px;
        border-collapse: collapse;
        margin: 50px auto;
    }

    th {
        background: #3498db;
        color: white;
        font-weight: bold;
    }

    td, th {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: left;
        font-size: 18px;
    }

    .labels tr td {
        background-color: #2cc16a;
        font-weight: bold;
        color: #fff;
    }

    .label tr td label {
        display: block;
    }


    [data-toggle="toggle"] {
        display: none;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Regian</th>
            <th>Q1 2010</th>
            <th>Q2 2010</th>
            <th>Q3 2010</th>
            <th>Q4 2010</th>
            <th>Q5 2010</th>
            <th>Q6 2010</th>
        </tr>
    </thead>

    <tbody id="id">

    <tbody class="labels">
        <tr>
            <td colspan="7">
                <label for="accounting">Accounting</label>
                <input type="checkbox" name="accounting" id="accounting" data-toggle="toggle">
            </td>
        </tr>
    </tbody>
    <tbody class="hide">
        <tr>
            <td>Australia</td>
            <td>$7,685.00</td>
            <td>$3,544.00</td>
            <td>$5,834.00</td>
            <td>$10,583.00</td>
            <td>$10,583.00</td>
            <td>$10,583.00</td>
        </tr>
        <tr>
            <td>Central America</td>
            <td>$7,685.00</td>
            <td>$3,544.00</td>
            <td>$5,834.00</td>
            <td>$10,583.00</td>
            <td>$10,583.00</td>
            <td>$10,583.00</td>
        </tr>
    </tbody>
    <tbody class="labels">
        <tr>
            <td colspan="7">
                <label for="management">Management</label>
                <input type="checkbox" name="management" id="management" data-toggle="toggle">
            </td>
        </tr>
    </tbody>
    <tbody class="hide">
        <tr>
            <td>Australia</td>
            <td>$7,685.00</td>
            <td>$3,544.00</td>
            <td>$5,834.00</td>
            <td>$10,583.00</td>
            <td>$10,583.00</td>
            <td>$10,583.00</td>
        </tr>
        <tr>
            <td>Central America</td>
            <td>$7,685.00</td>
            <td>$3,544.00</td>
            <td>$5,834.00</td>
            <td>$10,583.00</td>
            <td>$10,583.00</td>
            <td>$10,583.00</td>
        </tr>
        <tr >
            <td>2</td>
            <td>Ban Quản lý hành chính </td>
            <td><center>30</center></td>
            <td>0</td>
            <td>30</td>
            <td>0</td>
            <td><a href='/Home/Details/26/25/02/2021'><i class='fa fa-edit' title='Chi tiết'></i></a></></td>
        </tr>
    </tbody>

</table>


<table>
    <thead>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
    </thead>
    <tbody class='labels'>
        <tr>
            <td colspan='7'> 
                <label for='6b9adf36-18fd-11ea-9cf0-53807763a13c'>BỘ THAM MƯU</label>
                <input type='checkbox' name='6b9adf36-18fd-11ea-9cf0-53807763a13c' id='6b9adf36-18fd-11ea-9cf0-53807763a13c' data-toggle='toggle' />
            </td> 
         </tr>
    </tbody>
    <tbody class='hide'>
        <tr>
            <td>1</></td><td>BAN CÔNG NGHỆ THÔNG TIN</td>
            <td>17</></td><td>0</></td>
            <td>17</></td><td>0</></td>
            <td><a href='/Home/Details/1/25/02/2021'><i class='fa fa-edit' title='Chi tiết'></i></a></></td> </tr>
    <tr>
        <td>2</td>
        <td>Ban Quản lý hành chính </td><td><center>30</center></td>
        <td>0</td>
        <td>30</td>
        <td>0</td>
        <td><a href='/Home/Details/26/25/02/2021'><i class='fa fa-edit' title='Chi tiết'></i></a></></td>
    </tr>
    </tbody>
</table>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="toggle"]').change(function () {
            $(this).parents().next('.hide').toggle();
        });
    });
</script>