﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
    ViewBag.Controller = "Dashboard";
    ViewBag.Action = "Danh sách";
  
}

<style>

    table, th, td {
        border: 1px solid gray;
        border-collapse: collapse;
        white-space: nowrap;
    }

    th {
        padding: 4px;
        text-align: center;
        background-color: #228154;
        color: white;
    }

    td {
        padding: 4px;
    }
</style>

<div class="container-fluid">

    <!--Biểu đồ-->
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3 id="tongQuanSo">@Html.Raw(ViewBag.tongQuanSo)</h3>

                    <p>QUÂN SỐ</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    @*<h3 id="tongBaoCao">@Html.Raw(ViewBag.tongBaoCao)<sup style="font-size: 20px">%</sup></h3>*@
                    <h3 id="tongBaoCao">@Html.Raw(ViewBag.tongBaoCao)</h3>

                    <p>ĐÃ BÁO CÁO</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3 id="tongChuaBaoCao">@Html.Raw(ViewBag.tongChuaBaoCao)</h3>

                    <p>CHƯA BÁO CÁO</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3 id="tongBatThuong">@Html.Raw(ViewBag.tongBatThuong)</h3>

                    <p>BẤT THƯỜNG</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>

    <div class="row">
        <label class="col-md-1">Ngày: </label>
        <input class="col-md-2 form-control" type="date" id="txtNgay" onchange="NgayChange()" value="@ViewBag.Date" max="@ViewBag.Date"/>

        <label class="col-md-1">Phòng ban: </label>
        <select id="cboMakp" class="col-md-2 form-control" style="min-width:25%" onchange="cboMakp_Change()">
            @Html.Raw(ViewBag.Makp)
        </select>
    </div>

    <div class="row">
        <br />
    </div>

        <div class="row" style="overflow-x:scroll">
            <table class="table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>
                            <center>
                                STT
                            </center>
                        </th>
                        <th>
                            KHOA/ BAN
                        </th>
                        <th>
                            <center>
                                QUÂN SỐ
                            </center>
                        </th>
                        <th>
                            <center>
                                ĐÃ BÁO CÁO
                            </center>
                        </th>
                        <th>
                            <center>
                                CHƯA BÁO CÁO
                            </center>
                        </th>
                        <th>
                            <center>
                                BẤT THƯỜNG
                            </center>
                        </th>
                        <th>
                            <center>
                                CHI TIẾT
                            </center>
                        </th>
                    </tr>
                </thead>
                <tbody id="tbData">
                    @Html.Raw(ViewBag.List)
                </tbody>
            </table>
        </div>
    </div>

<script src="~/Scripts/baocao.js"></script>