﻿<table id="table1" style="width:100%">
    <thead>
        <tr>
            <th style="width:60%"> Nội dung</th>
            <th style="width:10%"> Có </th>
            <th style="width:10%"> Không </th>          
        </tr>
    </thead>
    <tbody>
        @Html.Raw(ViewBag.CauHoiChon)
    </tbody>
</table>

