﻿@model TAS.Core.Shared.nCoV.SurveyModelForm
@using TAS.Core.Entities.MasterData.Administrative
@using TAS.Core.Shared.nCoV
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/styledev.css" rel="stylesheet" />


@using (Html.BeginForm("Create", "Survey", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new {  id = "form", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="main">

            <div class="form-resign2">
                <div class="document">
                    <h2 style="color:orangered; text-align:center">TỜ KHAI Y TẾ BẮT BUỘC</h2>

                    <h3 style="text-align:center;color: #228154;">@Model.Employee.Hoten</h3>

                    <h5 style="color: #228154; text-align:center">
                        NGÀY @ViewData["EFFDATE"].ToString()
                        @if (Model.IsFinished)
                        {
                            <label style="color: #228154; text-align:center">ĐÃ HOÀN THÀNH</label>
                        }
                        else
                        {
                            <label style="color:orangered; text-align:center">CHƯA KHAI BÁO</label>
                        }
                    </h5>
                   
                </div>
                <br />
                <!--thong tin hanh chính-->
                <div class="row" hidden>
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group inline-block form-inline label-width ">
                            <h4 style="color:#228154; text-align:left">I.THÔNG TIN HÀNH CHÍNH</h4>
                        </div>
                    </div>
                </div>
                <div class="row " hidden>
                    <div class="form-group">
                        <label class="col-md-2">1.Họ và tên (IN HOA)<em>(*)</em></label>
                        @if (Model.IsFinished)
                        {
                            <input class="col-md-4" id="txtName" type="text" maxlength="50" placeholder="Họ và tên (IN HOA)" value="@Model.Employee.Hoten" readonly style="cursor:not-allowed" />
                        }
                        else
                        {
                            <input class="col-md-4" id="txtName" type="text" maxlength="50" placeholder="Họ và tên (IN HOA)" value="@Model.Employee.Hoten" />
                        }
                        <label class="col-md-2">2.Số CMND/CCCD </label>
                        @if (Model.IsFinished)
                        {
                            <input class="col-md-4" id="txtCMND" type="text" maxlength="12" placeholder="Số CMND/CCCD" onkeypress="return keypress(event)" value="@Model.Employee.CMND" readonly style="cursor:not-allowed" />
                        }
                        else
                        {
                            <input class="col-md-4" id="txtCMND" type="text" maxlength="12" placeholder="Số CMND/CCCD" onkeypress="return keypress(event)" value="@Model.Employee.CMND"/>
                        }
                        </div>
                    <div class="form-group">
                        <label class="col-md-2">Năm sinh<em>(*)</em> </label>
                        @if (Model.IsFinished)
                        {
                            <select id="cboNamsinh" class="col-md-2" disabled style="cursor:not-allowed">
                                <option>Chọn</option>
                                @Html.Raw(ViewBag.NamSinh)
                            </select>
                        }
                        else
                        {
                            <select id="cboNamsinh" class="col-md-2">
                                <option>Chọn</option>
                                @Html.Raw(ViewBag.NamSinh)
                            </select>
                        }

                        <label class="col-md-2">Giới tính<em>(*)</em> </label>
                        @if (Model.IsFinished)
                        {
                            <select id="cboGioTinh" class="col-md-2" disabled style="cursor:not-allowed">
                                <option>Chọn</option>
                                @Html.Raw(ViewBag.Phai)
                            </select>
                        }
                        else
                        {
                            <select id="cboGioTinh" class="col-md-2">
                                <option>Chọn</option>
                                @Html.Raw(ViewBag.Phai)
                            </select>
                        }

                        <label class="col-md-2">Quốc tịch<em>(*)</em> </label>
                        @if (Model.IsFinished)
                        {
                            <select id="cboQuocTich" class="col-md-2" disabled style="cursor:not-allowed">
                                <option>Chọn</option>
                                @Html.Raw(ViewBag.Quoctich)
                            </select>
                        }
                        else
                        {
                            <select id="cboQuocTich" class="col-md-2">
                                <option>Chọn</option>
                                @Html.Raw(ViewBag.Quoctich)
                            </select>
                        }

                    </div>

                    <div class="form-group">
                        <label class="col-md-2">Số điện thoại<em>(*)</em></label>
                        <input class="col-md-4" id="txtSdt" type="text" maxlength="10" placeholder="Số điện thoại" value="@Model.Employee.Dienthoai" readonly style="cursor:not-allowed" />

                        <label class="col-md-2">Email: </label>
                        @if (Model.IsFinished)
                        {
                            <input class="col-md-4" id="txtEmail" type="text" placeholder="Email" value="@Model.Employee.Email" readonly style="cursor:not-allowed" />
                        } else
                        {
                            <input class="col-md-4" id="txtEmail" type="text" placeholder="Email" value="@Model.Employee.Email" />
                        }
                        </div>

                    <div class="form-group">
                        <label class="col-md-2">Khoa ban <em>(*)</em></label>
                        @if (Model.IsFinished)
                        {
                            <select id="cboKhoaPhong" class="col-md-2" disabled style="cursor:not-allowed">
                                <option>Chọn</option>
                                @Html.Raw(ViewBag.KhoaPhong)
                            </select>
                        }
                        else
                        {
                            <select id="cboKhoaPhong" class="col-md-2">
                                <option>Chọn</option>
                                @Html.Raw(ViewBag.KhoaPhong)
                            </select>
                        }

                    </div>

                    <div class="form-group">
                        <label class="col-md-12">Địa chỉ chỗ ở hiện nay:</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Tỉnh/TP<em>(*)</em> </label>
                        @if (Model.IsFinished)
                        {
                            <select id="cboTinh" class="col-md-2" onchange="cboTinh_Change()" disabled style="cursor:not-allowed">
                                @Html.Raw(ViewBag.Tinh)
                            </select>
                        }
                        else
                        {
                            <select id="cboTinh" class="col-md-2" onchange="cboTinh_Change()">
                                @Html.Raw(ViewBag.Tinh)
                            </select>
                        }

                        <label class="col-md-2">Quận/Huyện<em>(*)</em> </label>
                        @if (Model.IsFinished)
                        {
                            <select id="cboQuan" class="col-md-2" onchange="cboQuan_Change()" disabled style="cursor:not-allowed">
                                <option>Chọn</option>
                                @Html.Raw(ViewBag.Quan)
                            </select>
                        }
                        else
                        {
                            <select id="cboQuan" class="col-md-2" onchange="cboQuan_Change()">
                                <option>Chọn</option>
                                @Html.Raw(ViewBag.Quan)
                            </select>
                        }

                        <label class=" col-md-2">Phường/Xã<em>(*)</em> </label>
                        @if (Model.IsFinished)
                        {
                            <select id="cboXa" class="col-md-2" disabled style="cursor:not-allowed">
                                <option>Chọn</option>
                                @Html.Raw(ViewBag.Xa)
                            </select>
                        }
                        else
                        {
                            <select id="cboXa" class="col-md-2">
                                <option>Chọn</option>
                                @Html.Raw(ViewBag.Xa)
                            </select>
                        }
                    </div>

                    <div class="form-group">
                        <label class=" col-md-12">Địa chỉ nơi ở tại Việt Nam (Số nhà, phố, tổ dân phố/thôn/đội, phường/xã, quận, huyện, tỉnh/thành phố)<em>(*)</em></label>
                    </div>
                    <div class="form-group">
                        @if (Model.IsFinished)
                        {
                            <input id="txtDiaChi" class="col-md-12" type="text" placeholder="Chỗ ở hiện nay" value="@Model.Employee.Sonha" readonly style="cursor:not-allowed" />
                        }
                        else
                        {
                            <input id="txtDiaChi" class="col-md-12" type="text" placeholder="Chỗ ở hiện nay" maxlength="50" value="@Model.Employee.Sonha"/>
                        }
                    </div>
                </div>
                <!--end thong tin hanh chính-->
                <!--thong tin khao sat-->
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group inline-block form-inline label-width ">
                            <h4 style="color:#228154; text-align:left">THÔNG TIN KHẢO SÁT</h4>
                        </div>
                        <div class="form-group inline-block form-inline label-width ">
                            <span >Đối với các câu trả lời nhập liệu : <b style="color:red">để trống </b> nếu bình thường </span>
                        </div>
                    </div>
                </div>
                <!--Câu hỏi trả lời-->
                @Html.Raw(ViewBag.CauHoi)
                <!--End Câu hỏi trả lời-->
                <!--Triệu chứng-->
                @Html.Raw(ViewBag.CauHoiChon)
                <!--Triệu chứng-->
                <!--End Triệu chứng-->
                <!--thong tin khao sat-->
                <!--end of survey-->
                <p />
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group inline-block form-inline label-width ">
                            <label style="color:orangered; width:100%"><em>Dữ liệu bạn cung cấp hoàn toàn bảo mật và chỉ phục vụ cho việc phòng chống dịch, thuộc quản lý của Ban chỉ đạo về Phòng chống dịch Covid-19. Khi bạn nhấn nút "Gửi" là bạn đã hiểu và đồng ý.</em></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group inline-block form-inline  ">
                            <h4 style="color:#228154; text-align:left">Tôi cam kết những thông tin trên là đúng sự thật, nếu sai tôi xin hoàn toàn chịu trách nhiệm trước chỉ huy đơn vị</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group inline-block form-inline label-width ">
                            <center>
                                @if (!Model.IsFinished)
                                {
                                    <input type="button" value="GỬI PHIẾU" onclick="Send()" />
                                }

                                <input type="button" value="QUAY LẠI" onclick="location.href='@Url.Action("Index", "Survey")'" />
                            </center>
                        </div>
                        @*<div class="form-group inline-block form-inline label-width ">
                    @Html.ActionLink("Back to List", "Index")
                </div>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group inline-block form-inline label-width ">
                          <span></span>
                        </div>
                        @*<div class="form-group inline-block form-inline label-width ">
                    @Html.ActionLink("Back to List", "Index")
                </div>*@
                    </div>
                </div>
                <!--end -->
            </div>
        </div>
    </div>

    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

    <div class="modal fade" id="modalNoti" tabindex="-1" data-backdrop="static">
        <div class="modal-dialog" role="document" style="">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thông báo</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <span id="txtNoti">@ViewBag.strNoti </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="login-btn">
                        <button class="btn btn-default" data-dismiss="modal" aria-label="Close" id="btnCloseArlet"><i class="fa icon-close"></i> <span style="margin-left:3%">Đóng</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalSuccess" tabindex="-1" data-backdrop="static">
        <div class="modal-dialog" role="document" style="">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thông báo</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <span id="txtSuccess"> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="login-btn">
                        <a class="btn btn-primary" id="btnCloseArlet" href="/Survey/Index">Đóng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
<script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/releases/qpy2aGtSgsYPZzCoYWjcaBCo/recaptcha__en.js"></script>
<script src="~/Scripts/tokhai.js"></script>
