﻿@model TAS.Core.Shared.nCoV.SurveyModelForm_Extend
@using TAS.Core.Entities.MasterData.Administrative
@using TAS.Core.Shared.nCoV
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/styledev.css" rel="stylesheet" />
<div class="container">
    <div class="main">
        @*<div class="container">
                <h2>HỆ THỐNG HỖ TRỢ KHAI BÁO THÔNG TIN Y TẾ</h2>
            </div>*@
        <div class="form-resign2">
            <div class="document">
                <h2 style="color:orangered; text-align:center">TỜ KHAI Y TẾ BẮT BUỘC ĐỐI VỚI QUÂN NHÂN (HẰNG NGÀY)</h2>
                <h3 style="text-align:center;color: #228154;">@Model.Employee.Hoten</h3>
                                <h5 style="color: #228154; text-align:center">
                    NGÀY @ViewData["EFFDATE"].ToString() -
                    @if (Model.IsFinished)
                    {
                        <label style="color: #228154; text-align:center">ĐÃ HOÀN THÀNH</label>
                    }
                    else
                    {
                        <label style="color:orangered; text-align:center">CHƯA KHAI BÁO</label>
                    }
                </h5>
            </div>
            <br />
            <!--thong tin hanh chính-->
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group inline-block form-inline label-width ">
                        <h4 style="color:#228154; text-align:left">I.THÔNG TIN HÀNH CHÍNH</h4>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="form-group">
                    <label class="col-md-2">1.Họ và tên (IN HOA)<em>(*)</em></label>
                    <input class="col-md-4" id="txtName" type="text" value="@Model.Employee.Hoten" readonly style="cursor:not-allowed" />
                    <label class="col-md-2">2.Số CMND/CCCD </label>
                    <input class="col-md-4" id="txtCMND" type="text" value="@Model.Employee.CMND" readonly style="cursor:not-allowed" />

                </div>
                <div class="form-group">
                    <label class="col-md-2">Năm sinh<em>(*)</em> </label>
                    <input class="col-md-4" type="text" value="@Model.Employee.Namsinh" readonly style="cursor:not-allowed" />
                    <label class="col-md-2">Giới tính<em>(*)</em> </label>
                    <input class="col-md-4" type="text" value="@Model.Employee.Gioitinh" readonly style="cursor:not-allowed" />
                    <label class="col-md-2">Quốc tịch<em>(*)</em> </label>
                    <input class="col-md-4" type="text" value="@Model.Employee.Quoctich" readonly style="cursor:not-allowed" />
                </div>

                <div class="form-group">
                    <label class="col-md-2">Số điện thoại<em>(*)</em></label>
                    <input class="col-md-4" type="text" value="@Model.Employee.Dienthoai" readonly style="cursor:not-allowed" />
                    <label class="col-md-2">Email: </label>
                    <input class="col-md-4" type="text" value="@Model.Employee.Email" readonly style="cursor:not-allowed" />
                </div>

                <div class="form-group">
                    <label class="col-md-2">Khoa ban <em>(*)</em></label>
                    <input class="col-md-4" type="text" value="@Model.Employee.Tenkp" readonly style="cursor:not-allowed" />
                </div>

                <div class="form-group">
                    <label class="col-md-12">Địa chỉ chỗ ở hiện nay:</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Tỉnh/TP<em>(*)</em> </label>
                    <input class="col-md-4" type="text" value="@Model.Employee.Tentt" readonly style="cursor:not-allowed" />
                    <label class="col-md-2">Quận/Huyện<em>(*)</em> </label>
                    <input class="col-md-4" type="text" value="@Model.Employee.Tenquan" readonly style="cursor:not-allowed" />
                    <label class=" col-md-2">Phường/Xã<em>(*)</em> </label>
                    <input class="col-md-4" type="text" value="@Model.Employee.Tenpxa" readonly style="cursor:not-allowed" />
                </div>

                <div class="form-group">
                    <label class=" col-md-12">Địa chỉ nơi ở tại Việt Nam (Số nhà, phố, tổ dân phố/thôn/đội, phường/xã, quận, huyện, tỉnh/thành phố)<em>(*)</em></label>
                    <input class="col-md-12" type="text" value="@Model.Employee.Sonha" readonly style="cursor:not-allowed" />
                </div>

            </div>
            <!--end thong tin hanh chính-->
            <!--thong tin khao sat-->
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group inline-block form-inline label-width ">
                        <h4 style="color:#228154; text-align:left">II.KHẢO SÁT</h4>
                    </div>
                </div>
            </div>

            <!--Câu hỏi trả lời-->
            @Html.Raw(ViewBag.CauHoi)
            <!--End Câu hỏi trả lời-->
            <!--Triệu chứng-->
            @Html.Raw(ViewBag.CauHoiChon)
            <!--Triệu chứng-->
            <!--End Triệu chứng-->
            <!--thong tin khao sat-->
            <!--end of survey-->
            <!--thong tin khao sat-->
            <!--end of survey-->
            <p />
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group inline-block form-inline label-width ">
                        <label style="color:orangered; width:100%"><em>Dữ liệu bạn cung cấp hoàn toàn bảo mật và chỉ phục vụ cho việc phòng chống dịch, thuộc quản lý của Ban chỉ đạo về Phòng chống dịch Covid-19. Khi bạn nhấn nút "Gửi" là bạn đã hiểu và đồng ý.</em></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group inline-block form-inline  ">
                        <h4 style="color:#228154; text-align:left">Tôi cam kết những thông tin trên là đúng sự thật, nếu sai tôi xin hoàn toàn chịu trách nhiệm trước chỉ huy đơn vị</h4>
                    </div>
                </div>
            </div>

            <!--end -->
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group inline-block form-inline label-width ">
                        <center><input type="button" value="QUAY LẠI" onclick="location.href='@Url.Action("Index", "Survey")'" /></center>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

