﻿@model IEnumerable<TAS.Core.Shared.nCoV.HR_Survey_Answer>
@using TAS.Core.Shared.nCoV
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="background:#ffffff">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-xs-9">
                    <div class="form-group inline-block form-inline label-width ">
                        <h4>DANH SÁCH CÁC PHIẾU ĐÃ THỰC HIỆN</h4>
                    </div>

                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="form-group inline-block form-inline label-width " style="text-align:right; padding-right:30px">
                        <b style="color:orangered; "> @Html.ActionLink("GỬI PHIẾU", "Create")</b>
                    </div>
                </div>
            </div>           
        </div>
        <div class="form-resign2">
            <table class="table" id="data">
                <tr style="background:#228154">
                    <th style="color:#fff">
                        NGÀY
                    </th>
                    <th style="color:#fff">
                        THỜI GIAN BC
                    </th>
                    <th style="color:#fff">Chi tiết</th>
                </tr>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <div class="row">
                            <tr>
                                @*<td>
                                @Html.DisplayFor(modelItem => item.Survey_ID)
                            </td>*@
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.EffDate_New)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.Ngaybc)
                                </td>
                                <td style="text-align:center">
                                    @Html.ActionLink("Xem chi tiết", "Details", new { id = item.Survey_ID })
                                </td>
                            </tr>
                        </div>
                    }
                }
            </table>
            @if (ViewBag.pageNumber > 0)
            {
                <center>
                    <ul class="pagination">
                        @for (int i = 0; i < ViewBag.pageNumber; i++)
                        {
                            <li><a onclick="ViewPage(@Convert.ToInt32(i))">@Convert.ToInt32(i + 1)</a></li>
                        }
                    </ul>
                </center>
            }
        </div>
    </div>
</div>

<script>
    function ViewPage(a) {
        $.ajax({
            type: 'POST',
            url: '/Survey/ViewPage',
            data: {
                index: a,
            }

        }).done(function (data) {
            if (data != '') {
                $('#data').html(data);
            }
        });
    }
</script>

