﻿#whole-page.fullWidth {
    padding-left: 0;
    padding-right: 0;
    position: relative
}
/**/
.ModuleWrapper {
}

.form-resign2 {
    font-size: 14px
}

    .form-resign2 .box-btn-tutorial {
        position: absolute;
        top: 0;
        right: 0
    }

        .form-resign2 .box-btn-tutorial a {
            color: #015ab4;
            display: flex;
            align-items: center
        }

        .form-resign2 .box-btn-tutorial i {
            font-size: 20px
        }

    .form-resign2 .btn-submit-box button {
        text-transform: uppercase;
        font-size: 16px;
        border-radius: 20px;
        padding: 10px 18px
    }
.form-resign2 {
    padding: 15px;
    background: #fff;
}

    .form-resign2 label {
        display: unset;
        font-weight: normal;
    }

.label-width label {
    display: inline-block;
    width: 200px;
}

.form-resign2 .national-brand .text-uppercase {
    font-size: 16px;
}

.form-resign2 .national-brand .text-2 {
    display: inline-block;
    border-bottom: 1px solid #333;
    padding: 8px 0;
    font-size: 13px;
    margin-bottom: 8px;
}

.form-resign2 .text-center.text-uppercase {
    font-weight: bold;
    line-height: 35px;
    padding-bottom: 40px;
    font-size: 13px;
}

.request-form > .panel-body {
    padding: 0;
}

    .request-form > .panel-body > .modal-body {
        padding: 0;
    }

.request-form .form-inline.form-control {
    border: none;
    box-shadow: none;
    outline: none;
    border-bottom: 1px dotted #262626;
    border-radius: 0;
    vertical-align: middle;
}

.formWrapper .tableChoiceData {
    display: flex;
}

    .formWrapper .tableChoiceData > div {
        flex: 1;
    }

@media (min-width: 768px) {
    .form-inline .form-control {
        width: auto !important;
        vertical-align: top;
    }
}

@media screen and (max-width: 767px) {
    .formWrapper .tableChoiceData {
        display: block;
    }

        .formWrapper .tableChoiceData .table {
            margin-bottom: 0;
        }

        .formWrapper .tableChoiceData .cols-right {
            margin-top: -1px;
        }

        .formWrapper .tableChoiceData .table > tbody > tr > td:nth-child(1) {
            min-width: 140px;
        }

        .formWrapper .tableChoiceData .cols-right .table > thead {
            display: none;
        }
}

@media screen and (max-width: 480px) {
    .formWrapper .tableChoiceData .cols-right .table > tbody > tr > td:nth-child(1)
    .formWrapper .tableChoiceData .table > tbody > tr > td:nth-child(1) {
    }

    .formWrapper .tableChoiceData .cols-right .table > tbody > tr > td:nth-child(2),
    .formWrapper .tableChoiceData .table > tbody > tr > td:nth-child(2) {
        min-width: 50px;
    }

    .formWrapper .tableChoiceData .cols-right .table > tbody > tr > td:nth-child(3),
    .formWrapper .tableChoiceData .table > tbody > tr > td:nth-child(3) {
        min-width: 60px;
    }
}

/***/
.hotline-footer9 a {
    color: white;
    display: inline-block;
    background: #008b48;
    border-radius: 30px;
    padding-right: 10px;
    font-weight: bold;
}

.hotline-footer9 {
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 999;
}

    .hotline-footer9 .totalNewNotification {
        position: relative;
        display: inline-block;
    }

        .hotline-footer9 .totalNewNotification span {
            position: absolute;
            top: 0;
            background: red;
            color: #fff;
            right: -5px;
            padding: 1px 5px;
            font-weight: bold;
            display: inline-block;
            border-radius: 999px;
        }

.hotline-box p {
    margin: 0;
}

.hotline-box a {
    color: #015ab4;
}

.download-app9 {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 999px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    padding: 5px;
    z-index: 1000;
}

    .download-app9 .btn-ch-play {
        padding: 5px;
    }

.table-bg-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

@media(min-width:992px) {
    .table-new-home {
        padding-top: 10%;
    }
}
/*formLogin*/
#formLogin.fixfixed {
    padding-bottom: 40vh;
    transition: padding-bottom 0.3s;
}

#formLogin label.error {
    font-weight: normal;
    font-size: 13px;
    color: red;
    text-align: center;
    margin-top: 5px;
    display: block;
}

#formLogin {
    transition: padding-bottom 0.3s;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    height: 80vh;
    min-height: 300px;
}

    #formLogin .signin-form {
        width: 300px;
        margin: auto;
    }

.relative {
    position: relative;
}

#formLogin .banner-top {
    position: relative;
    color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    width: 300px;
    margin: auto;
    -webkit-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
}

    #formLogin .banner-top a {
        color: #fff;
    }

#formLogin .fa-1_5x {
    font-size: 150%;
}

.registerFormType1 .form-signin {
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-direction: vertical;
    -moz-flex-direction: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.text-italic {
    font-style: italic;
}

.registerFormType1 .logo {
    margin-bottom: 20px;
}

    .registerFormType1 .logo .logo-img {
        max-height: 100px;
    }

.registerFormType1 .formContent {
    width: 100%;
    max-width: 380px;
    margin: 5px auto 13px;
    word-break: break-word;
}

.registerFormType1 .tk-intro {
    font-size: 17px;
    line-height: 1.38105;
    font-weight: 400;
    letter-spacing: .011em;
}

.registerFormType1 .si-container-title {
    max-width: 380px;
    margin: 5px auto 10px;
    word-break: break-word;
    text-align: left;
    color: #000;
}

.registerFormType1 .form-table {
    border-radius: 7px;
    position: relative;
    display: table;
    width: 100%;
    text-align: left;
}

.signin-form .field-container {
    position: relative;
}

.signin-form .input-text {
    font-size: 18px;
    line-height: 1.29412;
    font-weight: 400;
    letter-spacing: -.021em;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 100%;
    height: 34px;
    margin-bottom: 14px;
    padding-left: 15px;
    padding-right: 15px;
    color: #000;
    text-align: left;
}

.signin-form .form-textbox {
    margin: 0;
    box-shadow: none;
    height: 42px;
    border-radius: 6px;
    padding-right: 28px;
}

.signin-form .lock-icon {
    display: none;
    position: absolute;
    background: transparent;
    outline: none;
    cursor: pointer;
    top: 4px;
    margin: 0;
    right: 10px;
    padding: 0 1px 0 2px;
    font-size: 24px;
}

.signin-form .btn-submit-otp,
.signin-form .btn-submit-form {
    display: inline-block;
    background-color: #228154;
    min-width: 210px;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    color: #fff;
    font-weight: 500;
    border: 0 none;
    -webkit-border-radius: 999px !important;
    -moz-border-radius: 999px !important;
    border-radius: 999px !important;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 18px;
}

#otp13::-webkit-outer-spin-button,
#otp13::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#otp13 {
    -moz-appearance: textfield;
}
/* end module 13**/
@media screen and (min-width: 1024px) {
    .artile-edit-layout .form-resign2 .select2-container.select2-container--default {
        width: auto !important;
        min-width: 240px;
    }
}

.form-resign2 span.text-required {
    color: red;
    font-style: italic;
}

#module11 .form-resign2 > div > div:nth-child(4) > div:nth-child(1) label, #module11 .form-resign2 > div > div:nth-child(3) > div:nth-child(1) label, #module11.form-resign2 > div > div:nth-child(5) > div:nth-child(1) label {
    display: inline-block;
    width: 220px !important;
}

.insurance-box label {
    display: inline-block;
    width: 220px !important;
}

.label-width label {
    display: inline-block;
    width: 220px;
}

.gender-box label {
    width: 220px;
    display: inline-block;
}

@media (min-width: 767px) {
    .form-resign2 > div > div:nth-child(4) > div:nth-child(1) label, .form-resign2 > div > div:nth-child(3) > div:nth-child(1) label, .form-resign2 > div > div:nth-child(5) > div:nth-child(1) label {
        display: inline-block;
        width: 220px !important;
    }
}

@media (min-width: 768px) {
    input.form-control.inline-block.form-inline {
        min-width: 250px;
    }
}

.box-edit-layout .insurance-box {
    margin-bottom: 15px;
}

    .box-edit-layout .insurance-box .form-group {
        margin-bottom: 0;
    }

.box-edit-layout .insurance-box-inside {
    margin-top: 15px;
}

@media screen and (min-width: 1024px) {
    #module7 .artile-edit-layout .form-resign2 .select2-container.select2-container--default {
        width: auto !important;
        min-width: 240px;
    }
}

.mt-30 {
    margin-top: 30px;
}

#module12 .sendType-option input {
    display: none !important;
}

#module12 .sendType-option label {
    cursor: pointer;
}

#module12 .sendType-option input + img {
    padding: 2px;
    border: 1px solid #eaeaea;
}

#module12 .sendType-option input:checked + img {
    border-color: #0a6dd4;
}

#module12 .list-select li {
    margin-bottom: 15px;
    display: -webkit-flex;
    display: flex;
}

#module12 .list-select span {
    width: calc(100% - 105px);
    display: inline-block;
    padding-right: 10px;
    margin-top: -5px;
}

.formWrapper .btn-larger {
    font-size: 21px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
}

