body { font-family: "Oswald", Arial, sans-serif; font-size: 14px; color: #494949; line-height: 1.6; }
::-moz-selection { background: #08327e; color: #fff; text-shadow: none; }
::selection { background: #08327e; color: #fff; text-shadow: none; }
hr { display: block; height: 0; border: 0; border-top: 1px solid #636363; margin: 30px 0; opacity: .5; padding: 0; }
img { vertical-align: middle; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: none; }
::-webkit-input-placeholder { color: #6d6e70 !important; opacity: 1 !important; }
:-moz-placeholder { color: #6d6e70 !important; opacity: 1 !important; }
::-moz-placeholder { color: #6d6e70 !important; opacity: 1 !important; }
:-ms-input-placeholder { color: #6d6e70 !important; opacity: 1 !important; }
.form-control:focus::-webkit-input-placeholder { color:transparent !important; }
.form-control:focus:-moz-placeholder { color:transparent !important; }
.form-control:focus::-moz-placeholder { color:transparent !important; }
.form-control:focus:-ms-input-placeholder { color:transparent !important; }
address { font-style: normal; }
blockquote { border: none; font-size: 1em; padding: 0; }

*:hover, *:visited, *:active, *:focus { outline: none; }

a { -webkit-transition: color 0.15s ease; -moz-transition: color 0.15s ease; -o-transition: color 0.15s ease; transition: color 0.15s ease; }
a:link, a:visited, a:focus { color: #e74c3c; outline: none !important; text-decoration: none; }
a:hover { color: #000; outline: none; text-decoration: none; }

.animatedParent { overflow: hidden; }

img { max-width: 100%; }

body, html { height: 100%;  }

.imgeffect { display: block; overflow: hidden; position: relative; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.imgeffect .imgwrap { display: block; overflow: hidden; position: relative; }
.imgeffect img { -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5 ease-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }
.imgeffect:hover img { opacity: 0.7; -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.modal-content { padding: 30px; position: relative; }
.modal .md-title { color: #110c47; font-size: 2em; font-weight: 700; margin: 0 0 20px; text-transform: uppercase; margin-bottom: 10px; }
.modal .fa-close { background: none; border: #bdbdbd solid 1px; border-radius: 100%; color: #65696d; height: 26px; opacity: 1 !important; position: absolute; top: 5px; right: 5px; width: 26px; }
.modal .fa-close:hover { background: #f63440; border-color: #f63440; color: #fff; }
.pp-tempt-1 .modal-dialog { width: 1100px; }

.panel { border: none; box-shadow: none; margin: 30px 0; }
.panel .panel-heading { padding: 0; }
.panel .panel-title a { background: #e91947; border-radius: 5px; color: #fff !important; display: block; font-size: 1.4em; padding: 12px 50px 12px 20px; position: relative; text-decoration: none !important; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.panel .panel-title a.collapsed { background: #f2f2f2; color: #444; }
.panel .panel-body { border: none !important; margin: 0; padding: 30px; }
.panel .panel-heading { background: none; }
.panel .panel-heading a:after { content:"\f078"; font-family: FontAwesome; font-size: 14px; margin-top: -12px; position: absolute; top: 50%; right: 15px; }
.panel .panel-heading a.collapsed { background: #b7b7b7; color: #444; }
.panel .panel-heading a.collapsed:after { content:"\f054"; }
.panel .panel-heading a.collapsed:hover { background: #e91947; color: #fff; }
.panel .image { margin-bottom: 20px; }
.panel-group .panel, .panel-group .panel + .panel { margin-top: 20px; }

table.dataTable thead th, table.dataTable tfoot th { border: none; font-weight: 500; }
table.dataTable thead th, table.dataTable tfoot th, table.dataTable tbody th, table.dataTable tbody td { padding: 11px 13px; }
table.dataTable tbody th, table.dataTable tbody td { vertical-align: top; }
table.dataTable tfoot th, table.dataTable tfoot td { border-top: #999 solid 1px !important; color: #333; font-size: 1.1em; font-weight: 500; }
table.dataTable.no-footer { border-bottom: none; }
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before { background: #333; top: 10px; }
table.dataTable > tbody > tr.child span.dtr-title { color: #333; font-weight: 500; min-width: 150px; }
.dataTables_length { display: none !important; }
.dataTables_paginate { font-size: .9em; margin-top: 15px; }
.dataTables_wrapper .dataTables_paginate .paginate_button { padding: 1px 5px; }
.dataTables_wrapper.no-footer .dataTables_scrollBody { border: #ddd solid 1px !important; }
table.dataTable .even td { background: #fafafa; }

.btn, .dropdown-menu { font-size: 1em; }
.form-control { background: #fff; border: #cacaca solid 1px; border-radius: 0; box-shadow: none !important; color: #fff; font-size: 13px; height: 35px; padding: 6px 15px; }
textarea.form-control { height: auto; }
.form-control:focus { border-color: #bababa !important; box-shadow: none !important; }
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { background: #f6f6f6; }

.bootstrap-select > .dropdown-toggle, .control-sub .control { border: #e4e4e4 solid 1px; border-radius: 30px; color: #333 !important; display: block; height: 60px; padding: 5px 30px 5px 15px; text-overflow: ellipsis; }
.bootstrap-select > .dropdown-toggle { font-size: 1em; }
.control-sub { position: relative; }
.control-sub .control { line-height: 30px; }
.control-sub .control .caret { margin-top: -2px; position: absolute; right: 12px; top: 50%; }
.control-sub .dropsub { background: #fff; border: #d7d7d7 solid 1px; border-radius: 4px; display: none; left: 0; max-height: 300px; overflow-y: auto; padding: 10px 0; position: absolute; top: 100%; right: 0; z-index: 99; }
.control-sub .dropsub .checkbox {  margin: 0; padding: 6px 10px 6px 30px; }
.control-sub .dropsub .checkbox:hover { background: #f1f1f1; }
.control-sub .dropsub label, .control-sub .open-control { display: block; }

.bootstrap-select.btn-group .dropdown-menu { max-height: 300px !important; padding: 0; }
.bootstrap-select.btn-group .dropdown-menu li a { border-bottom: #ddd solid 1px; padding: 10px 15px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.bootstrap-select.btn-group .dropdown-menu li:last-child a { border-bottom: none; }
.bootstrap-select.btn-group .dropdown-menu li.selected a, .bootstrap-select.btn-group .dropdown-menu li a:hover { background: #f1f1f1; color: #333; }

.gotop { bottom: 10px; color: #333 !important; font-size: 0; opacity: 0; position: fixed; right: 10px; z-index: 9999; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.gotop:hover { color: #000 !important; }
.gotop:before { content: "\f0aa"; font-family: 'FontAwesome'; font-size: 36px; line-height: 1; }

label { font-weight: 500; }

.bg { background: no-repeat center 0; background-size: cover; }
.bg .bgimg { display: none; }
.bgfix { background-attachment: fixed; }

.slick-arrow { background: #fff; border: none; border-radius: 100%; color: #231f20; display: block; font-size: 0; height: 50px; margin-top: -25px; padding: 0; position: absolute; top: 50%; z-index: 2; width: 50px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.slick-arrow:before { font-family: 'FontAwesome'; font-size: 20px; line-height: 1; }
.slick-arrow:after { background: #d7d7d7; bottom: -5px; border-radius: 100%; content: ""; left: -5px; opacity: .2; position: absolute; top: -5px; right: -5px; }
.slick-next { right: 10px; }
.slick-next:before { content: "\f105"; }
.slick-prev { left: 10px; }
.slick-prev:before { content: "\f104"; }
.slick-arrow:hover { background: #320c3e; color: #fff; }

.slick-1 .slick-arrow { margin-top: -50px; }
.slick-1 .slick-next { right: -10px; }
.slick-1 .slick-prev { left: -10px; }

.slick-dots { list-style: none; margin: 0; padding: 0; }
.slick-dots li { display: inline-block; font-size: 0; margin: 5px; }
.slick-dots li button { background: #dbdbdb; border: none; border-radius: 100%; display: block; height: 10px; padding: 0; width: 10px; }
.slick-dots li.slick-active button { background: #aac63f; }

.page-wrap { margin-bottom: -50px; min-height: 100%; width: 100%; }
.main { padding-bottom: 80px; padding-top: 30px; }
.main-wrap { position: relative; z-index: 5; }
.main-content { float: left; padding: 20px 30px 30px 0; width: 74%; }
.sidebar { float: right; padding: 20px 0; width: 26%; }
.inner { background: url(../img/bg.png) no-repeat center bottom; }

.bootstrap-select { width: 100% !important; }

.date-wrap { position: relative; }
.date-wrap:before { color: #bcbcbc; font-size: 11px; margin-top: -6px; position: absolute; right: 15px; top: 50%; }
.date-wrap .form-control { padding-right: 30px; }

.pager { font-size: 0; margin: 0; text-align: center; }
.pager ol, .pager ul { list-style: none; margin: 0; padding: 0; }
.pager li { display: inline-block; font-size: 1em; margin: 5px; vertical-align: top; }
.pager li > a, .pager li > span { background: none; border: #a6a6a6 solid 1px; border-radius: 0; color: #a6a6a6 !important; display: block; font-size: 12px; line-height: 1; padding: 5px 10px; text-align: center; text-decoration: none !important; text-transform: uppercase; }
.pager li.active > a, .pager li > a:hover, .pager li > a:focus { background: #f40000; border-color: #f40000; color: #fff !important; }

/*.dropdown-menu { left: auto; min-width: 170px; padding: 0; right: 0; }*/
.dropdown-menu li a { padding: 7px 10px; white-space: normal; }
.dropdown-menu li:last-child a { border-radius: 0 0 3px 3px; }
.dropdown-menu li:first-child a { border-radius: 3px 3px 0 0; }
.dropdown-menu li a em { background: #f63440; border-radius: 100%; color: #fff; display: inline-block; font-size: .9em; font-style: normal; height: 20px; line-height: 20px; text-align: center; width: 20px; }
.dropdown-menu .active a, .dropdown-menu .active a:hover, .dropdown-menu .active a:focus { background: #f1f1f1; color: #333 !important; }

.breadcrumb { background: none; border-radius: 0; color: #f26e30; font-size: 12px; font-weight: 600; margin: 20px auto; padding: 0; text-align: right; text-transform: uppercase; max-width: 1235px; }
.breadcrumb ul { list-style: none; margin: 0; padding: 0; }
.breadcrumb li { margin-bottom: 0 !important; }
.breadcrumb a:link, .breadcrumb a:visited { color: #898989; }
.breadcrumb a:hover { color: #fff; }
.breadcrumb > li + li { padding-left: 25px; position: relative; }
.breadcrumb > li + li:before { background: url(../img/ico-breadcrumb.png) no-repeat 0 0; content: ""; height: 9px; left: 5px; position: absolute; top: 4px; width: 9px; }

.tb-col { display: table; width: 100%; }
.tb-col .col { display: table-cell; vertical-align: middle; }

.title-1 { border-bottom: #e2e2e2 solid 1px; color: #ff003b; font-size: 30px; font-weight: 500; line-height: 1; margin: 0 0 30px; padding-bottom: 15px; position: relative; text-transform: uppercase; }
.title-1.fa:before { background: #fff; bottom: -14px; font-size: 24px; left: 0; padding-right: 5px; position: absolute; }
.title-2 { color: #076ef1; margin: 30px 0; text-align: center; text-transform: uppercase; }
.title-3 { color: #000; font-size: 24px; margin: 0 0 15px; text-transform: uppercase; }

.btn-1, .btn-2, .btn-3, .btn-4 { border: none; color: #fff !important; display: inline-block; font-size: 14px; line-height: 1; padding: 10px 25px; position: relative; text-align: center; text-transform: uppercase; vertical-align: top; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.btn-1 { background: #006ff8; font-size: 16px; padding: 10px 15px;  }
.btn-1:hover { background: #054595; }
.btn-2 { background: #e74c3c; border-radius: 20px; }
.btn-2:hover { background: #bc1a0a; }
.btn-3 { background: #fff; color: #ff003b !important; }
.btn-3:hover { background: #ff003b; color: #fff !important; }
.btn-4 { background: #f40000; }
.btn-4:hover { background: #ae0303; }

.btn-block { display: block; }
.btn-medium { padding: 13px 30px; }

.nav-list, .nav-list ul { list-style: none; margin: 0; padding: 0; }
.nav-list { margin: 0 0 30px; }
.nav-list li { border-bottom: #dcdcdc solid 1px; }
.nav-list li a { color: #000; display: block; padding: 5px 0 5px 10px; position: relative; }
.nav-list > li > a:before { color: #6c6765; content: "\f105"; font-family:'FontAwesome'; font-size: 10px; left: 0; position: absolute; top: 9px; }
.nav-list li.active > a, .nav-list li > a:hover { color: #e84c3d; }
.nav-list ul { display: none; }
.nav-list ul li.active > a, .nav-list ul li > a:hover { background: none; color: #e00a16 ; }
.nav-list .open > ul { display: block; }
.nav-list .open > a:after { content: "\f107"; }
.nav-list ul li a { border-bottom: none; }

.socials { font-size: 0; list-style: none; margin: 0; padding: 0; }
.socials li { display: inline-block; margin-bottom: 5px; margin-right: 5px; }
.socials li a:before { color: #fff !important; font-size: 12px; line-height: 26px; }
.socials .fa { border-radius: 100%; display: block; height: 26px; text-align: center; width: 26px; }
.socials .fa-facebook { background: #077fe4; }
.socials .fa-facebook:hover { background: #04447a; }
.socials .fa-google-plus { background: #e10050; }
.socials .fa-google-plus:hover { background: #8b0333; }
.socials .fa-instagram { background: #00d3a9; }
.socials .fa-instagram:hover { background: #037760; }
.socials .fa-twitter { background: #00dfe8; }
.socials .fa-twitter:hover { background: #037d82; }
.socials .fa-youtube-play { background: #e10051; }
.socials .fa-youtube-play:hover { background: #830230; }

.footer-container { background: #228154; color: #fff; font-family: "Open Sans", Arial, sans-serif; font-size: 13px; position: relative; z-index: 3; }
.footer-container p { margin: 5px 0; }
.footer-container hr { border-top: #bcbcbc solid 1px; margin: 0; opacity: 1; }
.footer-container .phone { color: #3c5bfd; margin: 10px 0; }
.footer-container .phone strong { font-size: 24px; font-weight: 700; line-height: 1; }
.footer-container .copyright {color: #fff;font-weight:bold; padding-bottom: 10px; padding-top: 10px; text-align: right; }
.footer-container .info { padding-bottom: 20px; padding-top: 20px; }
.footer-container .links { list-style: none; margin: 10px 0; padding: 0; }
.footer-container .links li { margin-top: 5px; }
.footer-container .links a { color: #101010; }
.footer-container .links a:hover { color: #e74c3c; }

.header-info { background: #fff; color: #228154; font-size: 12px; line-height: 1.2; text-transform: uppercase; }
.header-info a:link, .header-info a:visited { color: #228154; }
.header-info a:hover { color: orangered; }
.header-info p, .header-info address { display: inline-block; margin: 0; }
.header-info .col { padding: 7px 0; }
.header-info .col .logo { max-width: 250px;  }
.header-info .col:last-child { text-align: right; width: 40%; }
.header-info .fa { margin: 3px 20px 3px 0; padding-left: 18px; position: relative; }
.header-info .fa:before { font-size: 16px; left: 0; position: absolute; top: 0; }
.header-info .fa-user { margin-right: 0; white-space: nowrap; }
.header-info .fa-clock-o:before { top: -1px; }
.header-info .dropdown { display: inline-block; margin: 3px 0 3px 20px; }
.header-info .dropdown-menu { min-width: 70px; }
.header-info .dropdown-menu a { color: #333; }

.header-container { background: #228154; left: 0; position: absolute; right: 0; top: 0; z-index: 10;}
.header-container .info { position: relative; }
.header-container a { color: #fff; }
.header-container a:hover, .header-container .link.active { color: orangered; }
.header-container .tb-col .col { padding: 20px 0; }
.header-container .tb-col .col:last-child { text-align: right; }
.header-container hr { border-top-color: #f4b5af; margin: 0; }
.header-container .logo { max-width: 250px; }
.header-container .btn-1 { padding-left: 50px; white-space: nowrap; }
.header-container .btn-1:before { left: 12px; position: absolute; top: 4px; }
.header-container .fa-heartbeat:before { font-size: 30px; margin-right: 10px; vertical-align: middle; }
.header-container .fa-search { background: #e74c3c; border: none; color: #fff !important; display: block; font-size: 0; height: 40px; line-height: 40px; text-align: center; width: 40px;}
.header-container .fa-search:hover, .header-container .btn-go { background: #b32719; }
.header-container .fa-search:before { font-size: 30px; line-height: 70px; }
.header-container .btn-search { position: absolute; right: 15px; top: 0; z-index: 3; }

.quick-search { background: #e74c3c; bottom: 0; overflow: hidden; position: absolute; right: 15px; width: 40px; top: 0; z-index: 2; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.quick-search.open { overflow: visible; width: 375px; }
.quick-search .btn-close { background: #000; color: #fff; left: -20px; line-height: 1; padding: 5px 0; position: absolute; text-align: center; top: 0; width: 20px; }
.quick-search .fa-search:before { line-height: 70px; }
.quick-search .form-control { background: none; border: none; color: #fff; font-size: 14px; height: 40px; padding: 0; width: 0; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.quick-search.open .form-control { padding: 20px; width: 300px; }
.quick-search ::-webkit-input-placeholder { color: #fff !important; }
.quick-search :-moz-placeholder { color: #fff !important; }
.quick-search ::-moz-placeholder { color: #fff !important; }
.quick-search :-ms-input-placeholder { color: #fff !important; }
.quick-search .form-control:focus::-webkit-input-placeholder { color:transparent !important; }
.quick-search .form-control:focus:-moz-placeholder { color:transparent !important; }
.quick-search .form-control:focus::-moz-placeholder { color:transparent !important; }
.quick-search .form-control:focus:-ms-input-placeholder { color:transparent !important; }

.menu-wrap { min-height: 40px; padding-right: 100px; position: relative; }
.menu, .menu ul { list-style: none; margin: 0; padding: 0; text-transform: uppercase; }
.menu .fa-angle-down { padding-right: 25px; position: relative; }
.menu .fa-angle-down:before { font-size: 14px; position: absolute; right: 5px; top: 5px; }
.menu { display: table; }
.menu > li { display: table-cell; font-size: 14px; height: 40px; padding-right: 40px; position: relative; vertical-align: middle; }
.menu > li > a { color: #fff !important; display: block; position: relative; z-index: 2; }
.menu > li:hover > a, .menu > li.active > a { color: orangered !important; }
.menu ul { border-bottom: #e5e5e5 solid 1px; height: 0; left: 0; margin-top: 30px; min-width: 180px; opacity: 0; overflow: hidden; padding: 0; position: absolute; text-align: left; text-transform: uppercase; top: 100%; z-index: 3; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.menu ul li { display: block; }
.menu ul li:last-child { border-bottom: none; }
.menu ul li a { background: #fff; border: #e5e5e5 solid 1px; border-bottom: none; color: #6c6765 !important; display: block; font-size: .9em; line-height: normal; padding: 10px 15px; position: relative; z-index: 2; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.menu ul .fa-angle-down:before { bottom: auto; content: "\f105"; left: auto; top: 11px; right: 10px; }
.menu ul li > a:hover, .menu ul li.active > a, .menu ul > li.hover > a { color: #000 !important; }
.menu ul ul { left: 100%; margin-top: 0; top: -1px; }
.menu > li:hover > ul, .menu > li:hover > ul > li:hover > ul { height: auto; margin-top: 0; opacity: 1; overflow: visible; }


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes bg { 0% { transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); } 50% { transform: scale(1.1); -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); } 0% { transform: scale(1.1); -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); } 100% { transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); } }
@-moz-keyframes bg { 0% { transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); } 50% { transform: scale(1.1); -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); } 100% { transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); } }
@keyframes bg { 0% { transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); } 50% { transform: scale(1.1); -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); } 100% { transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); } }

@-webkit-keyframes moveTopBot { from { opacity:0; top: -300px; } to { opacity:1; top: 0; } }
@-moz-keyframes moveTopBot { from { opacity:0; top: -300px; } to { opacity:1; top: 0; } }
@keyframes moveTopBot { from { opacity:0; top: -300px; } to { opacity:1; top: 0; } }

@-webkit-keyframes moveBotTop { from { opacity:0; top: 300px; } to { opacity:1; top: 0; } }
@-moz-keyframes moveBotTop { from { opacity:0; top: 300px; } to { opacity:1; top: 0; } }
@keyframes moveBotTop { from { opacity:0; top: 300px; } to { opacity:1; top: 0; } }

@-webkit-keyframes moveLeftRight { from { opacity:0; left: -300px; } to { opacity:1; left: 0; } }
@-moz-keyframes moveLeftRight { from { opacity:0; left: -300px; } to { opacity:1; left: 0; } }
@keyframes moveLeftRight { from { opacity:0; left: -300px; } to { opacity:1; left: 0; } }

@-webkit-keyframes moveRightLeft { from { opacity:0; right: -300px; } to { opacity:1; right: 0; } }
@-moz-keyframes moveRightLeft { from { opacity:0; right: -300px; } to { opacity:1; right: 0; } }
@keyframes moveRightLeft { from { opacity:0; right: -300px; } to { opacity:1; right: 0; } }

.banner, .bn-inner { color: #2a2a2a; font-size: 14px; position: relative; text-transform: uppercase; }
.bg-bn { bottom: 0; left: 0; position: absolute; right: 0; z-index: 2; }
.bg-bn img { width: 100%; height:50%;}
.banner img, .bn-inner img { width: 100%; }
.banner .item { position: relative; }
.banner .bn-slide .container, .bn-inner-1 .container { bottom: 0; color: #fff; left: 0; position: absolute; top: 0; right: 0; }
.banner .tb-col, .bn-inner-1 .tb-col { height: 100%; }
.banner h2, .bn-inner-1 h1 { color: #e74c3c; font-size: 30px; font-weight: 400; line-height: 1; margin: 0 0 20px; }
.banner h2 strong { color: #228154; font-weight: 400; }
.bn-inner-1 h1 { color: #000; margin: 0; padding-bottom: 10px; position: relative; text-transform: capitalize; }
.bn-inner-1 h1:before { border-bottom: #e4001b solid 2px; bottom: 0; content: ""; left: 0; position: absolute; width: 50px; }
.banner .btn-3 { margin-top: 20px; }
.banner .slick-arrow { display: none !important; }
.banner:hover .slick-arrow { display: block !important; }
.banner .slick-current .first { -webkit-animation: moveRightLeft ease-in 1;
	-moz-animation:moveRightLeft ease-in 1;
	animation:moveRightLeft ease-in 1;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:.3s;
	-moz-animation-duration:.3s;
	animation-duration:.3s;
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	animation-delay: .3s; }
.banner .slick-current .last { -webkit-animation: moveLeftRight ease-in 1;
	-moz-animation:moveLeftRight ease-in 1;
	animation:moveLeftRight ease-in 1;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:.3s;
	-moz-animation-duration:.3s;
	animation-duration:.3s;
	-webkit-animation-delay: .6s;
	-moz-animation-delay: .6s;
	animation-delay: .6s; }
.banner .slick-dots { bottom: 0; font-size: 0; left: 0; right: 0; list-style: none; margin: 0; padding: 0; position: absolute; text-align: center; }
.banner .slick-dots li { display: inline-block; margin: 2px 5px; }
.banner .slick-dots button { background: #fff; border-radius: 100%; border: none; color: #fff; display: inline-block; font-size: 0; height: 12px; line-height: 1; margin: 15px 0; padding: 0; width: 12px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.banner .slick-dots .slick-active button, .banner .slick-dots button:hover { background: #e74c3c; opacity: 1; }
.bn-inner { background: url(../img/tempt/bn-inner.jpg) no-repeat center center; background-size: cover; }
.bn-inner .header-container { left: auto; position: relative; right: auto; top: auto; }

.modal { text-align: center; }
.modal:before { display: inline-block; vertical-align: middle; content: " "; height: 100%; }
.modal-dialog { display: inline-block; text-align: left; vertical-align: middle; }
.modal { display: block; height: 0; overflow: hidden; }
.modal .close { position: absolute; right: 10px; top: 10px; }
.fade.in { height: auto; }

.document { line-height: 1.6; }
.document a:link, .document a:visited { color: #e91947; text-decoration: underline; }
.document a:hover { color: #c00; text-decoration: none; }
.document p, .document ol, .document ul { margin: 0 0 30px; }
.document h1, .document h2, .document h3, .document h4 { color: #fff; font-weight: 600; line-height: 1.2; margin: 20px 0; }
.document h1 { font-size: 26px; line-height: 1.2; margin: 0 0 20px; }
.document h2 { font-size: 24px; }
.document h3 { font-size: 20px; }
.document h4 { font-size: 18px; }
.document h5 { font-size: 14px; }
.document strong { color: #141515; font-weight: 600; }
.document ol li, .document ul li { margin-bottom: 5px; }
.document figure { margin: 30px 0; }
.document .date { color:  #aac73e; font-weight: 700; text-transform: uppercase; }

.map { height: 380px; width: 100%; }
.map h1 { color: #393939; font-size: 1.2em; margin: 0 0 5px; }

.radio label:before, .checkbox label:before { top: 5px; }
.radio label:after { background: #bfd541; top: 8px; }
.checkbox label:after { top: 3px; }

.intro-1 { background: url(../img/bg-intro-1.jpg) no-repeat center center; background-size: cover; color: #fff; font-size: 15px; margin-top: 100px; position: relative; }
.intro-1 .content { padding: 50px 0 50px 55%; }
.intro-1 .bg { bottom: 0; left: 0; position: absolute; top: 0; right: 0; width: 50%; }
.intro-1 .btn-3 { margin-top: 10px; }
.intro-1 .btn-3 .fa { margin-right: 5px; }
.intro-1 h1 { font-size: 30px; font-weight: 300; margin: 20px 0; text-transform: uppercase; }
.intro-1 p { margin: 20px 0; }

.intro-2 { background: #fcfcfc; padding: 50px 0; }

.intro-3 { background: url(../img/bg-intro-3.jpg) no-repeat center center; background-size: cover; font-size: 15px; margin-top: 115px; padding: 35px 0 35px 50%; position: relative; text-transform: uppercase; }
.intro-3 h2 { background: #e74c3c; color: #fff; font-size: 30px; margin: 0; padding: 25px 20px 25px 100px; position: relative; }
.intro-3 ul { font-size: 24px; list-style: none; margin: 0; padding: 0; }
.intro-3 ul li a { background: #ea6e61; color: #fff; display: block; line-height: 1.4; margin-bottom: 2px; padding: 25px 20px 25px 100px; position: relative; }
.intro-3 ul li img, .intro-3 h2 img { left: 20px; margin-top: -30px; position: absolute; top: 50%; }
.intro-3 h2 img { left: 17px; }
.intro-3 figure { bottom: 0; left: 0; padding: 0 20px; position: absolute; text-align: center; width: 50%; }
.intro-3 .content { padding-left: 50%; }

.date { background: #e74c3c; bottom: 0; color: #fff; font-size: 16px; left: 0; line-height: 1.2; padding: 5px 3px; position: absolute; text-align: center; width: 45px; }
.date strong { display: block; font-weight: 400; }

.grid-1 { border-bottom: #e2e2e2 solid 1px; margin-bottom: 25px; padding-bottom: 25px; }
.grid-1:last-child { border-bottom: none; padding-bottom: 0; }
.grid-1 figure { float: left; width: 189px; }
.grid-1 figure img { width: 100%; }
.grid-1 .content { margin-left: 220px; }
.grid-1 h3 { font-size: 16px; font-weight: 400; margin: 0 0 10px; }
.grid-1 h3 a { color: #494949; }
.grid-1 h3 a:hover { color: #e74c3c; }
.grid-1 p { margin: 10px 0 0; }
.grid-1 .fa { display: inline-block; font-size: 13px; margin-top: 10px; padding-left: 15px; position: relative; text-transform: uppercase; }
.grid-1 .fa:before { left: 0; position: absolute; top: 4px; }

.grid-2 { border-bottom: #b1b1b1 solid 1px; margin-bottom: 35px; padding-bottom: 20px; }
.grid-2 .btn-3 { border: #ddd solid 1px; color: #333 !important; margin-top: 10px; padding: 10px 15px; }
.grid-2 .btn-3 .fa { margin-left: 5px; }
.grid-2 .btn-3:hover { color: #fff !important; }
.grid-2 .title-wrap { margin: 20px 0; width: 100%; }
.grid-2 .title-wrap p { margin: 0; }
.grid-2 .title-wrap a { color: #000; }
.grid-2 .title-wrap a:hover { color: #e84c3d; }
.grid-2 .title-wrap .date { background: #016ff8; bottom: auto; color: #fff; left: auto; padding: 10px 0px; position: relative; top: auto; width: 65px; }
.grid-2 .title-wrap .fa { color: #b3b3b3; font-size: 20px; margin-left: 10px; }
.grid-2 .title-wrap .fa:hover { color: #e84c3d; }
.grid-2 .title-wrap .title { padding-left: 10px; padding-right: 10px; }
.grid-2 .title-wrap .col:last-child { white-space: nowrap; }
.grid-2 .title-wrap .type { font-size: .9em; }
.grid-2 .title-wrap .type a { color: #016ff8; display: inline-block; }
.grid-2 .title-wrap .type a:hover { color: #000; }
.grid-2 figure { margin: 0 0 20px; }
.grid-2 h2 { font-size: 1.1em; margin: 0 0 5px; }

.grid-3 { border-bottom: #dbdbdb solid 1px; color: #666; margin-bottom: 15px; padding-bottom: 15px; }
.grid-3 figure { float: left; margin-top: 5px; width: 75px; }
.grid-3 .descript { margin-left: 85px; }
.grid-3 h4 { font-size: 1em; font-weight: 400; line-height: 1.4; margin: 0 0 10px; }
.grid-3 h4 a { color: #000; }
.grid-3 h4 a:hover { color: #e84c3d; }
.grid-3 p { margin: 0; }

.grid-4 { margin: 0 -15px; }
.grid-4 .item { float: left; padding: 15px; width: 33.3%; }
.grid-4 h4 { font-size: 1.1em; margin: 10px 0 5px; }
.grid-4 p { margin: 0; }
.grid-4 h4 a { color: #000; }
.grid-4 h4 a:hover { color: #e84c3d; }
.grid-4 .type { color: #999; font-size: .9em; }
.grid-4 .type a { color: #016ff8; display: inline-block; }
.grid-4 .type a:hover { color: #000; }

.booking-form-wrap { background: #f8f8f8; border: #ddd solid 1px; margin: 20px 0 50px; width: 100%; }
.booking-form-wrap > .col { padding: 50px; vertical-align: top; }
.book-info h2 { font-size: 1.4em; margin: 0 0 10px; }
.book-info p { margin: 0; }
.booking-form { background: url(../img/bg-intro-1.jpg) no-repeat center center; background-size: cover; color: #fff; width: 40%; }
.booking-form h3 { font-size: 1.8em; margin: 0 0 10px; text-transform: uppercase; }
.booking-form a { color: #fff; text-decoration: underline; }
.booking-form a:hover { text-decoration: none; }
.booking-form .form-control, .booking-form .bootstrap-select > .dropdown-toggle { background: none; border: #fff solid 1px; border-radius: 0; color: #fff !important; height: 35px; }
.booking-form textarea.form-control { height: auto; }
.booking-form .lb { display: block; margin-top: 15px; }
.booking-form .type { font-size: 1.2em; margin: 10px 0; text-align: center; }
.booking-form .btn-3 { margin-top: 20px; padding: 15px; text-decoration: none; width: 100%; }
.booking-form .btn-3 .fa { margin-right: 5px; }
.booking-form .check-wrap .radio { display: inline-block; margin-right: 20px; }
.booking-form .checkbox { margin: 20px 0 10px; }

.box-1 { font-size: 15px; }
.box-1 figure a { display: block; position: relative; }
.box-1 figure img { width: 100%; }
.box-1 figure .date { font-size: 24px; padding: 10px 5px; width: 70px; }
.box-1 h3 { font-size: 20px; font-weight: 400; margin: 20px 0 10px; }
.box-1 h3 a { color: #494949; }
.box-1 h3 a:hover { color: #e74c3c; }

.box-2 { background: #fff; border: #e74c3c solid 2px; font-size: 1.2em; margin: 50px 0; padding: 20px 50px; text-align: center; }
.box-2 p { margin: 20px 0; }
.box-2 strong { color: #e74c3c; font-size: 1.4em; }

.contact-info { text-align: center; }
.contact-info address, .contact-info p { margin: 5px 0; }
.contact-info .fa { background: #e40021; border-radius: 100%; color: #fff; display: inline-block; font-size: 30px; height: 94px; line-height: 94px; margin-bottom: 20px; text-align: center; width: 94px; }
.contact-info .col { margin: 10px 0 40px; }

.contact-wrap { padding: 50px; position: relative; }
.contact-wrap .map { bottom: 0; left: 0; height: 100%; position: absolute; right: 0; top: 0; }
.contact-form { background: #fff; padding: 30px; position: relative; width: 520px; z-index: 5; }
.contact-form h3 { font-size: 20px; margin: 0 0 20px; text-transform: uppercase; }
.contact-form .row { margin-left: -5px; margin-right: -5px; }
.contact-form .col { margin-bottom: 10px; padding-left: 5px; padding-right: 5px; }
.contact-form .output { margin-top: 10px; text-align: right; }
.contact-form .output .fa { margin-left: 5px; }

.space-1 { margin-top: 40px !important; }

.result {
    margin-bottom: 80px
}

.result__highlight {
    position: absolute;
    background: #4baf4f;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 0 0 5px 5px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    top: 0;
    left: 30px
}

.result__item,
.tbl-wrapper {
    position: relative
}

.result__highlight i {
    margin-right: 10px
}

.result__title {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 35px;
    border-bottom: 2px solid #274da8
}

.result__head,
.result__item {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-shadow: 0 1px 5px #ddd
}

.result__title span {
    position: relative;
    background: #fff;
    padding: 0 20px;
    top: 11px;
    display: inline-block
}

.result__head {
    padding: 5px 10px;
    background: #fff
}

.result__head__text {
    padding: 15px 0 0 10px;
    display: inline-block
}

.result__item {
    padding: 5px 15px;
    background: #fafafa;
    border-radius: 3px 3px 0 0
}

.result__item h4 { font-size: 1.1em; margin: 10px 0 5px; }
.result__item p { margin: 0 0 5px; }

.result__item:nth-child(even) {
    background: #f2f5fa
}

.result__item .tbl-wrapper {
    padding-top: 20px
}

.tbl-wrapper .nextCalendar,
.tbl-wrapper .prevCalendar {
    position: absolute;
    top: 20px
}

.tbl-wrapper .nextCalendar {
    right: 0
}

.tbl-wrapper-highlight {
    margin: 0 -15px;
    padding: 0 15px;
    background: #fff
}

.tbl-wrapper-highlight .nextCalendar {
    right: 10px
}

.tbl-wrapper-highlight .prevCalendar {
    left: 10px
}

.calendar-tbl .column-free-text a {
    display: inline-block;
    width: auto;
    background: 0 0;
    border: none;
    color: #274da8;
    font-size: 15px
}

.calendar-tbl .column-free-text a:hover {
    color: #274da8;
    background: 0 0;
    cursor: pointer
}

.calendar-tbl {
    margin-bottom: 0
}

.calendar-tbl thead tr th {
    text-align: center;
    border-bottom: none
}

.calendar-tbl thead tr th span {
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    color: #333
}

.calendar-tbl tbody tr td {
    text-align: center;
    border-top: none
}

.calendar-tbl a {
    background: #efecec;
    display: inline-block;
    padding: 5px;
    color: #696969;
    width: 90px;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 14px;
    border-bottom: 2px solid #e74c3c
}

.calendar-tbl a:hover {
    background: #e74c3c;
    color: #fff
}

.calendar-tbl a.disabled {
    background: #ededed;
    color: #dadada;
    border-bottom: 2px solid #ededed;
    cursor: default
}

.calendar-tbl a.less,
.calendar-tbl a.more,
.calendar-tbl a.space {
    background: 0 0;
    border: none;
    color: #274da8
}

.calendar-tbl a.less:hover,
.calendar-tbl a.more:hover,
.calendar-tbl a.space:hover {
    color: #375ebc
}

.calendar-tbl a.space {
    height: 1px;
    margin-bottom: 0
}

.filter-labels {
    padding-bottom: 20px
}

.filter-labels__item {
    display: inline-block;
    background: #375ebc;
    color: #fff;
    padding: 7px 10px;
    margin: 0 10px 10px 0
}

.filter-labels__item h1 {
    font-size: 15px;
    display: inline-block;
    font-weight: 400
}

.doctor {
    padding: 25px 0 20px
}

.doctor__left {
    float: left;
    max-width: 157px
}

.doctor__right {
    padding-left: 180px
}


.doctor__photo img {
border: 1px solid #ccc;
}

.doctor__photo-noborder {
    border: none;
    float: left
}

.doctor__name {
    color: #274da8;
    font-size: 20px;
    margin: 0 0 5px;
    position: relative;
    padding-right: 25px
}

.doctor__name i {
    margin-left: 10px;
    color: #4baf4f
}

.doctor__name i.active {
    position: absolute;
    right: 0;
    top: 1px
}

.doctor__name a,
.doctor__name a:hover {
    color: #274da8
}

.doctor__detail-link {
    background: #e74c3c;
    color: #fff !important;
    display: block;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    position: relative;
    margin-top: 10px;
    z-index: 99
}

.doctor__detail-link:focus,
.doctor__detail-link:hover {
    color: #fff;
    background: #375ebc
}

.doctor__short-info {
    font-size: 16px;
    display: block;
    margin-bottom: 15px
}

.doctor__favourite {
    display: block;
    padding: 5px 10px;
    text-align: center;
    color: #fff !important;
    background: #006ff8;
    margin-top: 10px;
    font-size: 14px
}

.doctor__favourite.active i {
    color: #ffd800
}

.doctor__favourite:focus,
.doctor__favourite:hover {
    color: #fff
}

.doctor__favourite i {
    margin-right: 5px
}

.doctor__more {
    color: #274da8;
    display: inline-block
}

.doctor__more i {
    margin-left: 5px
}

.doctor__more:focus,
.doctor__more:hover {
    color: #274da8
}

.doctor__package {
    margin-top: 7px;
    padding: 3px 0 3px 15px;
    border: 2px solid #274da8;
    color: #274da8;
    display: block;
    width: 157px;
    border-radius: 6px
}

.doctor__package i,
.doctor__package span {
    display: inline-block;
    vertical-align: middle
}

.doctor__package i {
    font-size: 30px;
    margin-right: 15px
}

.doctor__package span {
    max-width: 90px;
    font-size: 15px
}

.doctor__package:hover {
    color: #fff;
    background: #274da8
}

.doctor__info {
    box-shadow: 0 1px 5px #ddd;
    margin: 0 10px 30px;
    padding: 20px;
    display: none;
    position: relative;
    max-height: 280px;
    overflow: hidden
}

.doctor__info__title {
    margin-bottom: 10px;
    color: #333
}

.doctor__info__title img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 20px
}

.doctor__info__title span {
    display: inline-block;
    vertical-align: middle
}

.doctor__info__title i {
    margin-right: 10px
}

.doctor__info__des {
    text-align: justify
}

.doctor__info__overlay {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: rgba(250, 250, 255, .58);
    background: -webkit-gradient(left top, left bottom, color-stop(0, rgba(250, 250, 255, 0)), color-stop(19%, rgba(250, 250, 250, .9)), color-stop(38%, rgba(250, 250, 250, .96)), color-stop(66%, #fafafa), color-stop(100%, #fafafa));
    background: linear-gradient(to bottom, rgba(250, 250, 255, 0) 0, rgba(250, 250, 250, .9) 19%, rgba(250, 250, 250, .96) 38%, #fafafa 66%, #fafafa 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fafaff', endColorstr='#fafafa', GradientType=0)
}

.doctor__info__overlay a {
    color: #4ca5e8;
    display: inline-block;
    top: 60%;
    left: 50%;
    margin-left: -42px;
    font-weight: 600;
    position: absolute
}

.doctor__clinic {
    background: #fff;
    padding: 15px 10px 1px 30px;
    margin-left: -15px
}

.doctor__clinic .room-list .slick-next {
    right: -6px;
    height: 25px
}

.doctor__clinic .room-list .slick-prev {
    left: -25px;
    height: 25px
}

.result__item.old .doctor__info__overlay {
    background: rgba(242, 245, 250, .71);
    background: -webkit-gradient(left top, left bottom, color-stop(0, rgba(242, 245, 250, .71)), color-stop(19%, rgba(242, 245, 250, .71)), color-stop(10%, rgba(242, 245, 250, .88)), color-stop(22%, rgba(242, 245, 250, .92)), color-stop(44%, rgba(242, 245, 250, .95)), color-stop(69%, #f2f5fa), color-stop(100%, #f2f5fa));
    background: linear-gradient(to bottom, rgba(242, 245, 250, 0) 0, rgba(242, 245, 250, .71) 19%, rgba(242, 245, 250, .88) 10%, rgba(242, 245, 250, .92) 22%, rgba(242, 245, 250, .95) 44%, #f2f5fa 69%, #f2f5fa 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f5fa', endColorstr='#f2f5fa', GradientType=0)
}

.show-info { margin-top: 20px; }

@media (max-width:1480px){
}

@media (max-width:1360px){
	.menu { padding-left: 0; }
	.menu > li { margin: 0 5px; }
	.menu > li > a { padding: 5px; }
	.contact-form { width: 400px; }
}

@media (max-width:1199px){
	.pp-tempt-1 .modal-dialog { width: 900px; }
	.intro-1 { margin: 50px 0; }
}

@media (min-width:992px){
	.hide-992 { display: block !important; }
}

@media (max-width:991px){
	.pp-tempt-1 .modal-dialog { width: 700px; }
	.break-991 { display: block; margin-left: 0 !important; margin-right: 0 !important; }
	.break-991 > .col { display: block; float: none; padding-left: 0 !important; padding-right: 0 !important; width: auto !important; }
	.menu-wrap { background: #333; bottom: 0; height: 100%; padding: 0; position: fixed; right: -270px; top: 0; width: 250px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
	.menu { display: block; }
	.menu .fa-angle-down:before { display: none; }
	.menu > ul { display: block; height: auto; text-align: left; }
	.menu li { display: block; height: auto !important; margin: 0; padding: 0 !important; position: relative; }
	.menu li a { color: #fff !important;  display: block; line-height: normal !important; padding: 15px 50px 15px 20px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
	.menu > li > a:hover, .menu > li.active > a { background-color: #ff003b; color: #fff !important; }
	.menu > li { border-bottom: #000 solid 1px; }
	.menu ul, .menu ul { border: none; display: none; float: none; height: auto !important; margin: 0; opacity: 1; position: relative; left: auto; top: auto; white-space: normal; }
	.menu ul { background: none; padding: 0; width: auto; }
	.menu ul:before { display: none; }
	.menu ul li a { padding: 10px 10px 10px 25px; position: relative; }
	.menu ul li a:before { content: "\f105"; font-family: 'FontAwesome'; left: 20px; position: absolute; top: 13px; }
	.menu > ul > li a:before, .menu .sub:after { display: none; }
	/*.menu ul li a:hover, .menu ul li.active a { background: #ddd; color: #333 !important; }*/
	.menu ul li a { padding-left: 45px; }
	.menu .subarrow { background: #000; border-radius: 2px; cursor: pointer; height: 30px; line-height: 30px; position: absolute; text-align: center; top: 8px; right: 10px; width: 30px; z-index: 2; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
	.menu .subarrow:hover { background: #666; }
	.menu .subarrow:after { color: #fff; content: "\f105"; display: block; font-family: 'FontAwesome'; height: 100%; position: absolute; top: 0; right: 0; width: 100%; }
	.menu .open:after {content: "\f107"; }
	.btn-menu{ background: #333; color: #fff !important; height: 37px; font-size: 0; line-height: 1; margin-top: -18px; padding: 8px 10px; position: absolute; top: 50%; right: 15px; text-transform: uppercase; width: 40px; vertical-align: middle; z-index: 5; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
	.btn-menu span { background: #fff; height:3px;margin-bottom:5px;display:block;position:relative}
	.burger-icon-2{transition:opacity .1s ease;-webkit-transition:opacity .1s ease;-moz-transition:opacity .1s ease;-ms-transition:opacity .1s ease;-o-transition:opacity .1s ease}
	.burger-icon-1,.burger-icon-3{ display: block; transition:transform .2s ease;-webkit-transition:-webkit-transform .2s ease;-moz-transition:-moz-transform .2s ease;-ms-transition:-ms-transform .2s ease;-o-transition:-o-transform .2s ease}
	.active-burger { border-radius: 0; margin-top: 0; position: fixed; right: 250px; top: 0; }
	.active-burger .burger-icon-2{opacity:0}
	.active-burger .burger-icon-1{-webkit-transform:rotate3d(0,0,1,45deg);-moz-transform:rotate3d(0,0,1,45deg);-ms-transform:rotate3d(0,0,1,45deg);-o-transform:rotate3d(0,0,1,45deg);top:8px;}
	.active-burger .burger-icon-3{ -webkit-transform:rotate3d(0,0,1,-45deg);-moz-transform:rotate3d(0,0,1,-45deg);-ms-transform:rotate3d(0,0,1,-45deg);-o-transform:rotate3d(0,0,1,-45deg);top:-8px;}
	.open-sub { right: 0; }
	.intro-1 .content { padding-bottom: 20px; padding-top: 20px; }
	.box-1 { border-bottom: #e2e2e2 solid 1px; margin-bottom: 30px; padding-bottom: 20px; }
	.intro-3 ul { font-size: 20px; }
	.header-container .info { padding-right: 80px; }
	.header-container .btn-search, .quick-search .btn-close { display: none; }
	.header-container .fa-search { width: 65px; }
	.quick-search { left: auto; position: relative; right: auto; top: auto; width: 100% !important; }
	.quick-search .form-control { padding: 20px; width: auto !important; }
	.booking-form-wrap > .col { padding: 30px !important; }
	.contact-wrap { padding: 0; }
	.contact-form { background: #f6f6f6; width: 100%; }
	.contact-wrap .map { bottom: auto; height: 300px; left: auto; position: relative; top: auto; right: auto; }
	.main-content { width: 68%; }
	.sidebar { width: 32%; }
}

@media (min-width:768px){
	.hide-767 { display: block !important; }
}
@media (max-width:767px){
	.hide-767 { display: none; }
	.pp-tempt-1 .modal-dialog { width: 600px; }
	.modal .modal-title { font-size: 24px; }
	.pp-tempt-1 .modal-dialog , .modal-dialog { width: 600px; }
	.modal-header, .modal-body { padding: 20px; }
	.socials { margin-bottom: 10px; }
	.intro-3 { margin-top: 50px; }
	.result__head {
			background: rgba(255, 255, 255, .8)
	}
	.tbl-wrapper {
			min-height: 40px
	}
	.tbl-wrapper .nextCalendar,
	.tbl-wrapper .prevCalendar {
			top: 12px
	}
	.doctor {
			padding: 35px 0 0
	}
	.doctor__name {
			font-size: 18px
	}
	.doctor__detail-link,
	.doctor__favourite,
	.doctor__package span,
	.doctor__short-info {
			font-size: 14px
	}
	.doctor__left {
			float: none;
			text-align: center;
			max-width: none
	}
	.doctor__photo {
			display: inline-block;
			margin-bottom: 7px
	}
	.doctor__favourite {
			padding: 9px
	}
	.doctor__package {
			width: 100%;
			padding-left: 0
	}
	.doctor__right {
			padding: 20px 0 0
	}
	.doctor__info .col-sm-6 {
			margin-bottom: 20px;
			font-size: 14px
	}
	.doctor__info .col-sm-6__title {
			font-size: 16px
	}
	.doctor__more {
			font-size: 15px
	}
	.dropdown .btn {
			margin-bottom: 10px
	}
	.calendar-tbl tbody tr td {
			display: block
	}
	.calendar-tbl a {
			margin: 0 5px 10px
	}
	.calendar-tbl .table-caption {
			margin-bottom: 10px;
			color: #333;
			font-weight: 400
	}
	.calendar-tbl .space,
	.calendar-tbl br {
			display: none!important
	}
	.result__highlight {
			font-size: 16px
	}
	.doctor__clinic {
			margin-left: 0
	}
}
@media (min-width:721px){
	.hide-720 { display: block !important; }
}
@media (max-width:720px){
	.hide-720 { display: none; }
	.pp-tempt-1 .modal-dialog { width: 560px; }
	.intro-1 .bg { background: none !important; bottom: auto; left: auto; position: relative; right: auto; top: auto; width: auto; }
	.intro-1 .bg .bgimg { display: block; width: 100%; }
	.intro-1 .content { padding: 20px 0; }
	.intro-3 { padding-left: 40%; }
	.intro-3 figure { width: 40%; }
	.main-content { padding-bottom: 20px; padding-right: 0; width: 100%; }
	.sidebar { width: 100%; }
}
@media (max-width:640px){
	.break-640 { display: block; margin-left: 0 !important; margin-right: 0 !important; }
	.break-640 > .col { display: block; float: none; padding-left: 0 !important; padding-right: 0 !important; width: auto !important; }
	.hide-640 { display: none; }
	.pp-tempt-1 .modal-dialog, .modal-dialog { width: 520px; }
	.intro-3 ul { font-size: 17px; }
	.banner h2 { font-size: 20px; margin-bottom: 10px; }
	.banner .btn-2 { font-size: 13px; }
	.banner .slick-dots button { margin: 5px 0; }
	.grid-4 .item { width: 50%; } 
}
@media (min-width:560px){
	.hide-560 { display: block !important; }
}
@media (max-width:560px){
	.break-560 { display: block; margin-left: 0 !important; margin-right: 0 !important; }
	.break-560 > .col { display: block; float: none; padding-left: 0 !important; padding-right: 0 !important; width: auto !important; }
	.show-560, .menu .btn-1 { display: block; }
	.hide-560, .hide-mb { display: none; }
	.pp-tempt-1 .modal-dialog, .modal-dialog { width: 440px; }
	.grid-1 figure { width: 120px; }
	.grid-1 .content { margin-left: 140px; }
	.intro-3 { margin: 0; padding-left: 0; }
	.intro-3 figure { bottom: auto; left: auto; top: -21px; right: 0; padding: 0; width: 100px; z-index: 3; }
	.header-container .logo { max-width: 200px; }
	.footer-container .copyright { text-align: left; }
	.header-info .col:first-child { display: none; }
	.header-info .col .logo { max-width: 120px;  }
	.box-2 { margin: 30px 0; padding: 20px; }
}
@media (max-width:480px){
	.pp-tempt-1 .modal-dialog, .modal-dialog { width: 300px; }
	.break-480 { display: block; margin-left: 0 !important; margin-right: 0 !important; }
	.break-480 > .col { display: block; float: none; padding-left: 0 !important; padding-right: 0 !important; width: auto !important; }
	.intro-3 ul { font-size: 16px; }
	.header-info .col .logo { max-width: 120px;  }
	.header-container .info { padding-right: 70px; }
	.header-container .logo { max-width: 180px; }
	.intro-1 { margin: 0; }
}
@media (max-width:425px){
	.modal-tempt-1 .modal-dialog, .modal-dialog { width: 280px; }
	.break-425 { display: block; margin-left: 0 !important; margin-right: 0 !important; }
	.break-425 > .col { display: block; float: none; padding-left: 0 !important; padding-right: 0 !important; width: auto !important; }
	.header-container { left: auto; position: relative; top: auto; right: auto; }
	.header-container .info { padding-right: 15px; }
	.header-container .logo { max-width: 250px; }
	.header-container .tb-col .col:last-child { padding-top: 0; text-align: left; }
	.header-container .btn-1 { display: block; padding: 12px 15px; }
	.header-container .btn-1:before { display: inline-block; left: auto; margin-top: -4px; position: relative; top: auto; }
	.bn-slide .col { padding: 20px 0 !important; }
	.btn-menu { margin-top: 0; top: 30px; }
	.active-burger { top: 0; }
	.header-info .col .logo { max-width: 120px;  }
}
@media (max-width:375px){
	.header-container .logo { max-width: 220px; }
	.header-info .col .logo { max-width: 120px;  }
}
@media (max-width:320px){
	.break-320 { display: block; margin-left: 0 !important; margin-right: 0 !important; }
	.break-320 > .col { display: block; float: none; padding-left: 0 !important; padding-right: 0 !important; width: auto !important; }
	.grid-1 figure { float: none; width: auto; }
	.grid-1 .content { margin-left: 0; margin-top: 20px; }
	.grid-4 .item { width: 100%; }
	.header-info .col .logo { max-width: 120px;  }
}

@media print{
	aside { display: none; }
	a[href]:after { content: none !important; }
}
.video-wrap {
    margin: 15px 0;
}

    .video-wrap iframe {
        width: 100%;
    }

